[2019-04-01 02:40] pro-src opened #1 "Release on https://pypi.org/"

[2019-04-01 02:41] VeNoMouS commented on #1
Yea, I think i will , lets get the code cleaned up first :)

[2019-04-01 02:46] pro-src opened #2 "Sensitive Regex"
These regular expressions will break with the smallest update.

https://github.com/VeNoMouS/cloudflare-scrape-js2py/blob/7d513463c92524a6d4c4f835f562733f9203c628/cfscrape/__init__.py#L139

https://github.com/VeNoMouS/cloudflare-scrape-js2py/blob/7d513463c92524a6d4c4f835f562733f9203c628/cfscrape/__init__.py#L162

The less that you have to modify the JS challenge the better. In this case, you can el

[2019-04-01 02:49] VeNoMouS commented on #2
Yea I am aware of the smallest code change on CF side would screw that up... but given the amount of people working on this yesterday I just smashed it out to get a working solution, I haven't decided yet how I am going to tackle those changes for the regex as of yet

[2019-04-01 03:15] pro-src commented on #2
[code]

[2019-04-01 03:17] VeNoMouS commented on #2
Don't js2py have a cry at `buffer`  from memory?

[2019-04-01 03:17] VeNoMouS commented on #2
ah maybe not...

[2019-04-01 03:27] VeNoMouS commented on #2
So if we leave in variable t as the domain... ie

ok so if we do that... we have to account in for `t` with `charCodeAt`..

[code]

this results in ..

[code]

[2019-04-01 03:30] pro-src commented on #2
Yep, I wasn't aware of the lack of support for the Buffer builtin type but we only need it to decode base64 so I'm thinking there ought to be a suitable workaround.

[2019-04-01 03:37] pro-src commented on #2
I think that you can define atob in python and pass that to js2py.

Untested:
[code]

[2019-04-01 03:47] VeNoMouS commented on #2
So if we do

[code]

we get ...

[code]

[2019-04-01 03:54] pro-src commented on #2
Thats not a problem with the atob function. It's a problem with the other JS code being evaluated.

The following should strictly equal `".get"`
[code]

[2019-04-01 03:59] pro-src commented on #2
The other snippet had a typo and error when type casting. This one works though.

[code]

[2019-04-01 04:03] VeNoMouS commented on #2
[code]

[2019-04-01 04:06] VeNoMouS commented on #2
[code]

[2019-04-01 04:09] pro-src commented on #2
It should already be defined. We seem to have stumbled upon a bigger problem when using js2py.

This should strictly equal `"."` but results in `"1"` instead. Probably should open an issue in their repo.
[code]

[2019-04-01 04:11] VeNoMouS commented on #2
`getElementById(k)` is actually the div...

we have two issues here..

[2019-04-01 04:12] VeNoMouS commented on #2
ah you know that the following

[code]

strips all the old variables right?

[2019-04-01 04:15] pro-src commented on #2
I do now :)

A little more readable.
[code]

[2019-04-01 04:16] VeNoMouS commented on #2
https://github.com/PiotrDabkowski/Js2Py/issues/155

[2019-04-01 04:17] VeNoMouS commented on #2
*God* i hate jsfuck!!!

[2019-04-01 04:18] pro-src commented on #2
Actually, that regex that strips certain statements is very familiar to me and I modified it for cloudscraper to retain the `k = "cf-dn...."` assignment

[2019-04-01 04:19] pro-src commented on #2
[code]

[2019-04-01 04:24] pro-src opened #3 "Unused global variable"
I'm not sure if this was ever used. I'd have to check the git history.

https://github.com/VeNoMouS/cloudflare-scrape-js2py/blob/7d513463c92524a6d4c4f835f562733f9203c628/cfscrape/__init__.py#L40

I think thats all of the issues that I'm aware of at the moment.

[2019-04-01 04:28] VeNoMouS commented on #2
Imma take a small break... 1730 for me atm :)

[2019-04-01 04:33] pro-src commented on #2
You know, we don't really need the `k` assignment since it is already declared and the `document.getElementById` polyfill doesn't care either way.

[2019-04-01 05:04] pro-src commented on #2
Ah, I figured out what is causing the problem. V8, SpiderMonkey, and other JS engines all display sufficiently large numbers using scientific notation. As defined by the EcmaScript spec, when these numbers are converted to string, you get the scientific notation...

Which is the case for this number `1100000000000000000000` if you log it. You should be able to convert to and from the scientific no

[2019-04-01 05:25] pro-src commented on #2
###### Insight into the expression

If you convert an empty array literal `[]` to a string, you get an empty string.
If you use the addition operator on an Array, both operands are converted to string and concatenated.
If you convert a boolean to a number, you only ever get a `0` or `1`
[code]

[2019-04-01 05:31] pro-src commented on #2
You might want to revise the issue that you opened since it's obfuscated lol

[2019-04-01 06:24] pro-src opened #4 "Breaking challenge backwards compatibility"
Cloudflare doesn't exactly retire old challenges as soon as they release a new one. They keep rotating them under certain mostly unknown conditions. You can't be sure that the new "s" query param will always be there or that it's safe to add an empty query param when it's missing.

https://github.com/VeNoMouS/cloudflare-scrape-js2py/blob/7d513463c92524a6d4c4f835f562733f9203c628/cfscrape/__init__.p

[2019-04-01 06:29] pro-src opened #5 "js2py not listed as a dependency"
https://github.com/VeNoMouS/cloudflare-scrape-js2py/blob/7d513463c92524a6d4c4f835f562733f9203c628/setup.py#L21

[2019-04-01 06:32] pro-src opened #6 "Cloudflare challenge can be sent with HTTP status 429 - Too Many Requests"
The good news is that you don't have to respect the `Retry-After` header as of right now.
https://github.com/VeNoMouS/cloudflare-scrape-js2py/blob/7d513463c92524a6d4c4f835f562733f9203c628/cfscrape/__init__.py#L58

[2019-04-01 06:34] pro-src opened #7 "Allow library users to specify the timeout"
You can emit a warning if you fail to parse the timeout in this case. The regex is really loose.
https://github.com/VeNoMouS/cloudflare-scrape-js2py/blob/7d513463c92524a6d4c4f835f562733f9203c628/cfscrape/__init__.py#L80

Also, if this parses the wrong number, it could wait for a very long time. Probably should check to see if it's excessive and if the user didn't specify a timeout then raise an ex

[2019-04-01 06:36] pro-src opened #8 "The URI from a location header is not guaranteed to be absolute"
https://github.com/VeNoMouS/cloudflare-scrape-js2py/blob/7d513463c92524a6d4c4f835f562733f9203c628/cfscrape/__init__.py#L134

Sorry, this is already being accounted for....

[2019-04-01 06:37] #8 closed

[2019-04-01 06:44] pro-src commented on #4
Also, I think it's only a matter of time before Cloudflare starts changing the param order on a per request basis. Did you know that Cloudflare has a JS based bot-filter that is way better than this one but for some odd reason they only use it in conjunction with CAPTCHA?

[2019-04-01 08:18] sennz opened #9 "No module named js2py.pyjs"
I am getting below error, how can i fix

                                             js2py\evaljs.py", line 147, in __init__
                                                exec (DEFAULT_HEADER, self._context)
                                              File "<string>", line 1, in <module>
                                            ImportError: No module named js2py.pyjs

[2019-04-01 09:13] VeNoMouS commented on #9
install js2py?

[2019-04-01 09:25] VeNoMouS commented on #5
Resolved

[2019-04-01 09:25] #5 closed

[2019-04-01 09:29] sennz commented on #9
Yes.

[2019-04-01 09:42] VeNoMouS commented on #9
Via pip? are you using python 2 or 3? did you use pip3 if using python3?

[2019-04-01 09:43] VeNoMouS commented on #9
That error looks to be a js2py error to me as well..

[2019-04-01 09:44] sennz commented on #9
Downloaded directly. Python 2

[2019-04-01 10:08] VeNoMouS commented on #9
i'd give pip a try mate

[2019-04-01 16:05] Fran008 opened #10 "It does not work on Raspberry Pi (Raspbian)"
First of all, I want to thank you for such a great and updated program. I have tested on Debian and it works flawlessly. But when I install it in various Raspberries (Pi Zero, Pi 3...) it just doesn't work. It loads normal webs correctly, but when the page implements Cloudflare it just can't bypass. Raspberries' OS is Raspbian.

[2019-04-01 16:08] valos opened #11 "KeyError: 'location'"
Hello,

Here is the traceback I receive with a search request on japscan.to server:

search_url is https://www.japscan.to/search/
[code]

[2019-04-01 16:36] pro-src commented on #2
@VeNoMouS This doesn't look hard to fix at all. From what I can tell, it only requires modifying a single function since we don't care how it gets displayed in the console.

https://github.com/PiotrDabkowski/Js2Py/blob/7a3a1ffc6c153e4ea867988d12725f92d133ffc4/js2py/prototypes/jsnumber.py#L48
[code]

And it's simplified further since we can reuse `Number.prototype.toExponential` to do the conversio

[2019-04-01 17:39] sennz commented on #9
I will try. Thanks

[2019-04-01 21:24] VeNoMouS commented on #2
I was playning around with a little pivot mapping table for the jsfuck... seems to work alright and get around the decoding issue... while not "ideal" or what i would consider "clean" its basicly just a static pivot table for the jsfuck but it does fix the `.` .. `1` issue.

[2019-04-01 21:40] VeNoMouS commented on #2
By using the following pivot...

[code]

however... we get `Cannot read property 'innerHTML' of null` in chrome..

[2019-04-01 21:54] VeNoMouS commented on #2
Are you sure we can over the reserved variable `document`?... if i rename it to like `q` it works...

![image](https://user-images.githubusercontent.com/597545/55362139-a1576e00-5535-11e9-9b09-fe59a17c5e84.png)

[2019-04-01 21:58] pro-src commented on #2
It's not reserved in node. Are you saying it's reserved in js2py? I wouldn't think it to be.

[2019-04-01 21:58] VeNoMouS commented on #2
nah it just seems to be chrome that doesnt like it... i did it fine in js2py... just writing it into some test code now.

[2019-04-01 22:00] Alfa-beto opened #12 "Not all pages are using the new method"
it's seems that not all pages are using the new method from cloudflare, some ones still using the old method, here is an example http://gnula.nu/.
I guess the solution is to maintain both, the old method and the new and select the correct, on base to the k variable.

[2019-04-01 22:02] pro-src commented on #12
Duplicate of #4

[2019-04-01 22:02] VeNoMouS commented on #2
just FYI ... `document` should be `var document = {{ getElementById: function () {{ return {{'innerHTML': '{innerHTML}'}}; }} }};`

[2019-04-01 22:03] VeNoMouS commented on #2
However...

[code]

[2019-04-01 22:07] VeNoMouS commented on #2
lol i fucked... i was wraping true, false in `"`... it works.

[2019-04-01 22:08] VeNoMouS commented on #2
[code]

[2019-04-01 22:11] VeNoMouS commented on #2
This is to purely get around js2py's limitation on being able to process jsfuck correctly due to casting to an int...

[2019-04-01 22:16] pro-src commented on #2
doh... I was copying and pasting from my cloudscraper PR. It must've got lost when fiddling.

[2019-04-01 22:16] VeNoMouS commented on #11
hi @valos ,

Cheers, we are currently working on improving the decoding, bare with us and ill try get that resolved as soon as we finished #2 .

[2019-04-01 22:17] VeNoMouS commented on #10
Can you give some more information please"? like the payload of the html from cf?

[2019-04-01 22:22] VeNoMouS commented on #2
@pro-src here is current alpha code... https://pastebin.com/8LiptBAe ... its a work in progress and purely a PoC... have a look anyway..

[2019-04-01 22:28] VeNoMouS commented on #2
I'm sorted by value in reverse... because !![] will match !![] first rather than say ![].. if you get why i did that..

[2019-04-01 22:30] pro-src commented on #2
Looks good, makes sense. Hopefuly js2py maintainers will fix that issue soon.

[2019-04-01 22:31] VeNoMouS commented on #2
I will clean this up and put it into its own file / class as a function call... to clean things cleaner so it can be maintained moving forward in the fture if it needs to be removed etc.

[2019-04-01 22:31] VeNoMouS commented on #2
Just saves us trying to all the hackery with the regex js matching.

[2019-04-01 22:34] pro-src commented on #2
Any reason why you're still using a JS based polyfill for atob or just haven't changed it yet?

[2019-04-01 22:46] pro-src commented on #4
@VeNoMouS cloudscraper has maintained backwards compatibility since 2014. It has great tests that include fixtures, etc.

[2019-04-01 23:05] VeNoMouS commented on #2
I hadn't changed it yet... would you perfer i context back to python? i don't mind either way... it was just a "does it work???" ordeal on that for the fsfuck mapping..

[2019-04-01 23:10] pro-src commented on #2
It just seems unnecessary to include a polyfill in JS when you can do it in python using the standard library. The JS is being converted to python and then evaluated so it's all python anyway.

[2019-04-01 23:50] VeNoMouS commented on #2
@pro-src try out that dev branch..

[2019-04-02 00:05] pro-src commented on #2
LGTM although I would use `repr` to escape any potential newlines in the innerHTML because es5 lacks support for multiline strings. Many kudos mate :100:

[2019-04-02 00:15] VeNoMouS commented on #2
@pro-src im getting odd breakages..

[code]

[code]

in chrome... its...

[code]

thoughts?

[2019-04-02 01:00] pro-src commented on #2
@VeNoMouS `document.getElementBy()` returns null when it can't find the node with the provided id. You can't override `window.document` in chrome because the property is not configurable.
[code]

I just tested it in node and it is working just fine. Also note that chrome and nodejs use the same javascript engine. Different versions depending on the build but both are v8.

[2019-04-02 01:01] VeNoMouS commented on #2
@pro-src are you sure???

[code]

[2019-04-02 01:02] pro-src commented on #2
I'm positive: `atob = function(v) { return Buffer.from(v, 'base64').toString('binary'); }`

[2019-04-02 01:03] VeNoMouS commented on #2
Hrm yea that did it.... though why is js2py crapping out on that... its working some times... failing others..

[2019-04-02 01:05] pro-src commented on #2
Save the responses to disk before before attempting to solve the challenge and write tests to narrow it down. Don't forget you can use https://npmjs.com/package/cf-debug if you just need a quick glance :wink:

[2019-04-02 01:07] pro-src commented on #2
I'm pretty much spent for the day but I'll take a fresh look at a later time if you haven't worked it out yet.

[2019-04-02 01:15] VeNoMouS commented on #2
![image](https://user-images.githubusercontent.com/597545/55369125-c528ad00-5551-11e9-8fbd-74d0c46d9ed0.png)

![image](https://user-images.githubusercontent.com/597545/55369144-ceb21500-5551-11e9-8e35-1909e5d70728.png)

lol.... WTF?!!?!?!?

[2019-04-02 01:18] VeNoMouS commented on #2
Worked it out... js2py shits the bed in python3 ... my test code was running py3... where as i was manually testing with 2....

[2019-04-02 08:36] Fran008 commented on #10
The problem comes when calling the function:

 cfscrape.get_cookie_string("http://thebot.net")

The outgoing message sais:

ERROR:root:'http://thebot.net' returned an error. Could not collect tokens.

[2019-04-02 21:16] VeNoMouS commented on #10
@Fran008 using my dev branch and python 2 (as js2py breaks in py3 atm https://github.com/PiotrDabkowski/Js2Py/issues/156)

Try

[code]

[2019-04-02 21:18] VeNoMouS commented on #11
@valos if you using py2... use my dev branch, js2py breaks with py3 atm..

[2019-04-02 22:49] VeNoMouS commented on #9
@sennz how did you go mate?

[2019-04-02 22:50] VeNoMouS commented on #12
@Alfa-beto if your using py2 try out the dev branch.

[2019-04-02 23:48] pro-src opened #13 "Add tests"
I'm writing tests for cloudscraper.py (Depends on node.js) using pytest but cloudflare-scrape-js2py should be able to pass them as well because the public API is the same. I'll send a PR once I have something to show. The tests and fixtures will be based on/come from codemanki/cloudscraper. I wrote those tests :)

[2019-04-03 08:05] sennz commented on #9
It is working with python 3

[2019-04-03 08:06] valos commented on #11
Unfortunately no, my project is under Python 3.

[2019-04-03 09:56] veldjmaxis commented on #12
@VeNoMouS  id dev branch @ line 167 change:
`            innerHTML = re.search(
                '<div(?: [^<>]*)? id="([^<>]*?)">([^<>]*?)<\/div>',
                body,
                re.MULTILINE | re.DOTALL
            ).group(2).replace("'", r"\'")`
to
`            innerHTML = re.search(
                '<div(?: [^<>]*)? id="([^<>]*?)">([^<>]*?)<\/div>',
                body,

[2019-04-03 11:01] Krylanc3lo opened #14 "ReferenceError: atob is not defined"
Hello,

Atob error is back :(
Does anyone experience the same issue ?

  File "/var/lib/jenkins/.local/lib/python3.6/site-packages/js2py/base.py", line 1079, in get
    raise MakeError('ReferenceError', '%s is not defined' % prop)
js2py.internals.simplex.JsException: ReferenceError: atob is not defined

[2019-04-03 11:24] pro-src commented on #14
@Krylanc3lo Use python2 if possible. There are some open issues regarding js2py and python3.

[2019-04-03 11:32] Krylanc3lo commented on #14
I will try and let you know. thanks for the notice

[2019-04-03 12:28] VeNoMouS commented on #14
also try the dev branch if you using python 2 ... its got a little re-jig happening :)

[2019-04-03 12:38] VeNoMouS commented on #14
dev branch also just updated for latest algo change .

[2019-04-03 12:39] VeNoMouS commented on #14
@Krylanc3lo please confirm dev branch is ok?

[2019-04-03 12:40] VeNoMouS commented on #12
wouldn't you need this in a trap since group() wouldn't be populated with index 2 if there was no regex matching?....

the expect would set it to "" ...

just my 2 cents?

[2019-04-03 12:47] veldjmaxis commented on #12
This is same way but without using trap. If there was no regex matching first innerHTML will be set to False and next replaced by proper value.

Just a normal point of view of who prefers which solutions ;)

[2019-04-03 13:52] veldjmaxis commented on #12
Meanwhile another use case:
`var t = "service.com";
                                                        function italics (str) { return '<i>' + this + '</i>'; };
                                                        var document = {
                                                            getElementById: function () {
                                                                return

[2019-04-03 14:12] Fran008 commented on #10
When I execute this code against a normal page, it gives NO output.

When I execute this code against "http://thebot.net", it gives:

_cloudFlare() requested URL - http://thebot.net/, encounted CloudFlare DDOS Protection.. Bypassing.
ERROR:root:Error executing Cloudflare IUAM Javascript. Cloudflare may have changed their technique, or there may be a bug in the script.

Traceback (most recent call

[2019-04-03 20:22] VeNoMouS commented on #10
@Fran008 cf changed their algo yesterday.. use the dev branch for now.

[2019-04-03 22:43] Krylanc3lo commented on #14
Hello,
Thank for the feedback. Sorry I just got back from work. I will test right away and let you know.

[2019-04-03 22:47] Krylanc3lo commented on #14
Nevermind, it seems to be python2. I will update my script to use python2 then.
I will keep you posted

[2019-04-03 22:51] pro-src commented on #14
@Krylanc3lo I think py3 support will be working soon.

[2019-04-03 22:58] VeNoMouS commented on #14
@Krylanc3lo i've just done a push, py3 should not be good.

[2019-04-03 23:00] Krylanc3lo commented on #14
OK I will try again then :)

Thank you!

[2019-04-03 23:02] Krylanc3lo commented on #14
so I did download the new repo, did a python3 setup.py install and launch the same test code than before (the function you did provide)

I am getting this error:
  File "/usr/local/lib/python3.6/dist-packages/js2py/base.py", line 938, in callprop
    raise  MakeError('TypeError','%s is not a function'%cand.typeof())
js2py.internals.simplex.JsException: TypeError: 'undefined' is not a function

[2019-04-03 23:48] VeNoMouS commented on #14
uhh check the cfscrape package __init__.py file on line ~157 prob in your `/usr/local/lib/python3.6/dist-packages/cfscrape/` dir and see if it says ` var g = String.fromCharCode;`  if it doesnt just delete /usr/local/lib/python3.6/dist-packages/cfscrape/ and install it again.

[2019-04-04 00:38] Krylanc3lo commented on #14
Indeed it doesn't. I deleted both in /usr & ~./local... reinstall and I got a new  error.. haha
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/apport_python_hook.py", line 53, in apport_excepthook
    if not enabled():
  File "/usr/lib/python3/dist-packages/apport_python_hook.py", line 24, in enabled
    import re
  File "/usr/lib/python3.6/re.py", line 142, in <module>

[2019-04-04 00:40] VeNoMouS commented on #14
I have no idea what that's about...  i don't think that's being generated by my library?

Have you got test code you can share? or perhaps the url you're trying to access?

[2019-04-04 00:41] VeNoMouS commented on #14
@Krylanc3lo they changed the js slightly... that one line into the js was all that was required.

[2019-04-04 01:06] VeNoMouS commented on #14
@Krylanc3lo so your all good and i can close this?

[2019-04-04 01:27] pro-src commented on #14
For future reference, it's a lot easier to just use ***pipenv*** (pip with perks)
https://pipenv.readthedocs.io/en/latest/basics/
[code]

[2019-04-04 01:30] Krylanc3lo commented on #14
yes I just finished the tests, all good, as usual with your help @VeNoMouS  (and tanks @pro-src for the tips).
I am closing this thread ^^

[2019-04-04 01:30] #14 closed

[2019-04-04 01:36] pro-src commented on #14
@Krylanc3lo I updated those tips... Fixed wrong syntax for installing from git.

[2019-04-04 01:40] VeNoMouS commented on #14
@Krylanc3lo team effort mate :)

[2019-04-04 01:48] VeNoMouS commented on #11
@valos give latest code a try mate... sorts py3 issues

[2019-04-04 02:17] VeNoMouS commented on #12
I have rolled this into the dev branch @veldjmaxis , thanks for that :)

[2019-04-04 02:18] VeNoMouS commented on #12
@Alfa-beto is this still an issue or can i close this ticket off?

[2019-04-04 03:28] VeNoMouS commented on #10
@Fran008 production is good :)

[2019-04-04 06:33] VeNoMouS commented on #6
Added into PR b21ba1d696fb4108a1b62ebe326bbcbb3585efc3

[2019-04-04 06:33] #6 closed

[2019-04-04 06:37] VeNoMouS commented on #6
lol i think is the first ticket of yours ive been able to close LOL <3

[2019-04-04 06:38] pro-src commented on #4
@VeNoMouS I think the bulk of this covered by the dev branch now. I'm going to close this in preference of #13 which is really about the same thing. You can always open back up if I'm mistaken. :wink:

[2019-04-04 06:38] #4 closed

[2019-04-04 06:39] VeNoMouS commented on #3
Removed.

[2019-04-04 06:39] #3 closed

[2019-04-04 07:06] VeNoMouS commented on #4
ah rgr... i'm just playing around with #7... though i don't like how it looks ... just seems "cheap".... i dont like implementation

[code]
[code]

[2019-04-04 07:26] VeNoMouS commented on #7
744fda03571d5ca5789f57e0c74ee4bc9421a265 via the function `set_cloudflare_challenge_delay`

[2019-04-04 07:26] #7 closed

[2019-04-04 07:29] #9 closed

[2019-04-04 09:42] valos commented on #11
@VeNoMouS Unfortunatly, no change. Exactly same error.

[2019-04-04 09:43] VeNoMouS commented on #11
are you sure you're using my code? because that url works fine for me...

[2019-04-04 09:44] VeNoMouS commented on #11
i would delete `/app/lib/python3.7/site-packages/cfscrape/` and install the code again..

[2019-04-04 11:21] valos commented on #11
Sure

[code]

[2019-04-04 15:21] Fran008 commented on #10
Here are my tests with the updated version:

1- The code you gave me two days ago works ALWAYS in Raspberry Pi. These are good news!!

2- BUT when I try to get the cookies with function "cfscrape.get_cookie_string('http://thebot.net')" it just doesn't work in Raspberry (it works fine in other systems).

3- This function works WITH SOME WEBS in Raspberry, for example accessing this site: "cfscrape.

[2019-04-04 16:06] Fran008 commented on #10
The error sais:

_cloudFlare() requested URL - http://thebot.net/, encounted CloudFlare DDOS Protection.. Bypassing.
ERROR:root:'http://thebot.net' returned an error. Could not collect tokens.
Traceback (most recent call last):
  File "./fran", line 51, in <module>
    Test().test()
  File "./fran", line 45, in test
    if (True, True) == self._cloudFlare(ret):
  File "./fran", line 25, in _cloudF

[2019-04-04 19:09] pawliczka commented on #11
i had the same issue. I solved it by entering https://www.japscan.to/ with timeout=30 then https://www.japscan.to/search/

[2019-04-04 20:29] VeNoMouS commented on #11
ah @valos set yourself up with a session with requests first and pass it off to create_scraper

[code]

try that..

[2019-04-04 20:35] VeNoMouS commented on #10
Is there any reason you're calling "get_cookie_string"?

[2019-04-04 20:56] VeNoMouS opened #16 "Implement session when session not passed"
if a session isn't passed on the class initialization, create a session with inside the class.

@pro-src what do you think?

[2019-04-04 20:58] pro-src commented on #16
I think that the scraper is already an instance of `Session` and that `create_scraper` only copies attributes from the session to the new session that it creates.

[2019-04-04 21:00] pro-src commented on #16
Session is the base class of CloudflareScraper
https://github.com/VeNoMouS/cloudflare-scrape-js2py/blob/5a3b966d5daca7dd6bc43f9de44eabfa8bf3f1d6/cfscrape/__init__.py#L44

[2019-04-04 21:00] VeNoMouS commented on #16
I don't think its passing the Super session over correctly when calling without passing an initial session... need to debug.

refer #11

[2019-04-04 21:03] pro-src commented on #16
@VeNoMouS then it's the attributes that are being copied over that solves the problem and the problem/solution lies in the class constructor.

[2019-04-04 21:33] pro-src commented on #11
I think this error is pretty clear. The `Location` header is not a key of `headers`. This would be because the response is not a redirect for whatever reason. If copying the attributes from another session seems to solve this problem, it's most likely that some headers or params are to blame for the difference.
https://github.com/VeNoMouS/cloudflare-scrape-js2py/blob/5a3b966d5daca7dd6bc43f9de44eab

[2019-04-04 21:51] VeNoMouS commented on #11
Yea but others have stated if they use my test code... it works... hence why i want to debug it some more.. the biggest issue is no one ever posts their test code... which is f*$king anonying lol

[2019-04-04 21:54] VeNoMouS commented on #11
Also using the above example @valos gave us...

[code]

works fine for me.

[2019-04-04 21:55] pro-src commented on #11
@VeNoMouS Creating a session that way is deprecated.
https://github.com/kennethreitz/requests/blob/9742da7f91f595796a412a8150aacc00191be039/requests/sessions.py#L762

It would be this equivalent:
[code]

[2019-04-04 22:01] HawkLiking commented on #11
I was having this "location" error when running with py3, I saw the comment of @VeNoMouS about js2py, then I passed to py2.7 and all is working like a charm.

My simple test code was:
[code]

If it can help...

[2019-04-04 22:05] VeNoMouS commented on #11
[code]

[code]

HRRRM.......

[2019-04-04 22:06] pro-src commented on #11
Same code that was just shared on `Python 2.7.15+ (default, Nov 28 2018, 16:27:22)
[GCC 8.2.0] on linux2`

No error.

[2019-04-04 22:06] VeNoMouS commented on #11
[code]

[2019-04-04 22:07] VeNoMouS commented on #11
Hit with a captcha

[2019-04-04 22:09] HawkLiking commented on #11
I'm having the error location on py2.7 when making a `session.post('https://www.japscan.to/search/', data=dict(search='gods'))` , and no error with a 'session.get'

[2019-04-04 22:12] VeNoMouS commented on #11
If you do it this way it works..

[code]

[2019-04-04 22:15] VeNoMouS commented on #11
I am honestly thinking if you do a post as the setup call.. it fails with a 403.

[2019-04-04 22:16] HawkLiking commented on #11
Yeah it works, funny ^^

[2019-04-04 22:16] VeNoMouS commented on #11
[code]

I think its because it passes the form with `search=gods`

[2019-04-04 22:34] pro-src commented on #11
@VeNoMouS yup, that's gonna be it. I can confirm that on py3 the response is a redirect because the challenge isn't bypassed. The response is a captcha. I think a partial solution to this is going to be to update `is_cloudflare_challenge` to raise an error for captcha responses.

[2019-04-04 22:41] pro-src commented on #11
Just an example:
[code]

[2019-04-04 22:46] VeNoMouS commented on #11
Do you think if the first call is ie a post to `https://www.japscan.to/search/` we should intercept and do a get to `https://www.japscan.to/`?

[2019-04-04 22:49] pro-src commented on #11
I was just thinking about that. No, because we don't know if it's Cloudflare protected site until we get a response. Definitely when solving a challenge a though if we're sure that causes failure.

[2019-04-04 22:56] pro-src commented on #11
@VeNoMouS I'm not sure that redirects need to be handled manually. If it's just the status code preventing requests from handling this properly, I'd think `is_redirect` and `is_permanent_redirect` could be overridden.

[2019-04-04 23:06] pro-src commented on #11
@VeNoMouS  cloudscraper uses mikeal's request library which has a `followAllRedirects` option. We always set it to true. You can see how that changes the redirect behavior: https://github.com/request/request/blob/b3a218dc7b5689ce25be171e047f0d4f0eef8919/lib/redirect.js#L117

[2019-04-04 23:06] VeNoMouS commented on #11
I was thinking something like...

[code]

[2019-04-04 23:09] pro-src commented on #11
@VeNoMouS If you can't bypass the challenge without using the "GET" verb then why not just always explicitly set the method to "GET" regardless of what the user has set the method as?

[2019-04-04 23:12] VeNoMouS commented on #11
I could but people use the super to do post

ie

[code]

and it'll fail if the first request to CF is a post... so inject a GET and if successful solve then send their POST

[2019-04-04 23:12] pro-src commented on #11
To sum everything up, you inherited some really buggy code from cloudflare-scrape :rofl:

[2019-04-04 23:12] VeNoMouS commented on #11
hahah yea

[2019-04-04 23:13] VeNoMouS commented on #11
You understand my logic with injecting the GET though yea?

[2019-04-04 23:14] pro-src commented on #11
Yes, but doesn't the verb methods (post) just call the instance's request method? https://github.com/kennethreitz/requests/blob/9742da7f91f595796a412a8150aacc00191be039/requests/sessions.py#L570

[2019-04-04 23:15] VeNoMouS commented on #11
Yea... but then we superseed that.. with a get .. solve the challenge, populate the cookie then re-submit the original post again.

[2019-04-04 23:17] VeNoMouS commented on #11
It works.. i've tested it..

[2019-04-04 23:18] pro-src commented on #11
I would make that a default behavior since you're retrying requests and that could be dangerous. I'd make it an option to retry requests. Related to https://github.com/codemanki/cloudscraper/issues/177#issuecomment-479443774

[2019-04-04 23:20] pro-src commented on #11
Did the py3 problem actually get diagnosed?

[2019-04-04 23:20] VeNoMouS commented on #11
Problem is... it seems alot of these users are not too smart...

[2019-04-04 23:21] VeNoMouS commented on #11
py3 issue... @pro-src yea .. if you post first... before a GET it fails...

[2019-04-04 23:21] pro-src commented on #11
kk, I was just focused on a bunch of different issues... Wasn't sure.

[2019-04-04 23:25] VeNoMouS commented on #11
The fact is in the super `request` you should ONLY be hitting `is_cloudflare_challenge` if it hasn't been solved, and since we are switching *METHODS* it won't cause a loop, because if it doesn't solve an exception/ValueError will occur

[2019-04-04 23:28] VeNoMouS commented on #11
@HawkLiking are you able to give the dev branch a test and let us know if that resolves your issues.

[2019-04-04 23:33] VeNoMouS commented on #11
Hrmmmm... nope.. not fixed..

[2019-04-04 23:38] VeNoMouS commented on #11
lol god damn it... https://www.japscan.to isnt asking for challenge anymore hahaha

[2019-04-04 23:48] VeNoMouS commented on #11
Blah I was being retared.. pushed correct fix into dev branch. @HawkLiking , test that out

[2019-04-04 23:53] VeNoMouS commented on #11
@pro-src , what do you think of the following?

[code]

[2019-04-05 00:09] VeNoMouS commented on #10
@Fran008 want to give it a try now?

[code]

[code]

[2019-04-05 00:41] pro-src commented on #11
@VeNoMouS that should do just fine until somebody opens an issue about HEAD and/or other HTTP verbs but certainly is a good fix to this issue's OP.

[2019-04-05 00:44] VeNoMouS commented on #11
LOL damn you *shakes fist* for thinking of that LOL... ;P

[2019-04-05 00:46] pro-src commented on #11
Yup, make the method always 'GET' when submitting the challenge answer.

[2019-04-05 00:50] VeNoMouS commented on #11
1b18f251caa3321c562b2672629a4be9fcd76803

[2019-04-05 00:57] pro-src commented on #11
@VeNoMouS Another problem with this solution is that requesting the `parsed.net_loc` might not result in a challenge and when you make the request with the original method, loop... This is complicated by the fact that sometimes you only get a challenge depending on the path.

[2019-04-05 00:58] pro-src commented on #11
Sorry, I didn't think of that until just now :sweat_smile:

[2019-04-05 01:04] VeNoMouS commented on #11
Ah... I see what your saying... problem is.. some URI's dont accept GET's etc... i'll just sweep that under the carpet for now ;P

also I think I should be calling

[code]

not self.get()

[2019-04-05 01:06] VeNoMouS commented on #11
otherwise, its basicly looping around the Super for no reason... why not just call the correct function straight away

[2019-04-05 01:09] VeNoMouS commented on #11
@pro-src ya know what... fuck it... CF will still give the challenge on the URL.. and we don't care about the response from the GET... so lets just call the resp.url with a GET then submit the original...

[code]

What do you think?

[2019-04-05 01:15] pro-src commented on #11
Looks solid now. Should add some option to limit the number of attempts at some point if not doing that already.

[2019-04-05 01:16] VeNoMouS commented on #11
Could always add a variable in the __init__ to count incase were stuck in a loop..

[2019-04-05 01:19] VeNoMouS commented on #11
Actually I guess it can if ` self.request('GET', resp.url)` failed to solve and didnt trigger any excepton... and `resp = self.request(method, url, *args, **kwargs)` was then called..

[2019-04-05 01:20] pro-src commented on #11
I'm guessing that Cloudflare will send a CAPTCHA after some limit on their end anyway so it probably won't loop for too long but from a user's perspective, I personally would like to see that as a feature eventually.

[2019-04-05 01:21] VeNoMouS commented on #11
We can add it the list :)

[2019-04-05 01:22] VeNoMouS commented on #11
@valos &| @HawkLiking can you guys test out the latest code and let us know if you still seeing issues....?

cheers guys

[2019-04-05 01:23] VeNoMouS commented on #11
also @pro-src if the challenge on the GET didn't work... it'd break due to lack of "Location" header... ;P that just occurred to me

[2019-04-05 01:58] pro-src commented on #11
@VeNoMouS

[code]

[2019-04-05 02:47] pro-src commented on #11
I'm still getting a captcha on first try.
[code]
Interactively, I can bypass it if I rerun: `scraper.get("https://www.japscan.to/search/")` after the exception.
Just letting you know, I haven't tried to debug it.

[2019-04-05 02:59] VeNoMouS commented on #11
hrrm yea... I think it needs a little more tweaking...

worked first time on py2 , failed on py3.. test from clean import on py3 again and it worked...

[2019-04-05 03:00] VeNoMouS commented on #11
[code]

[2019-04-05 03:12] VeNoMouS commented on #11
[code]

[code]

hrrrrrm

[2019-04-05 03:27] VeNoMouS commented on #11
if you adjust the headers to the following it seems to work...

[code]

[2019-04-05 03:33] VeNoMouS commented on #11
nope nm still breaks sometimes wtf...

[2019-04-05 03:34] pro-src commented on #11
@VeNoMouS UA randomization is probably causing the Accept header to be inconsistent.
https://github.com/codemanki/cloudscraper/pull/175

[2019-04-05 03:56] pro-src commented on #12
@VeNoMouS
https://gist.github.com/pro-src/23d77f323582ca7b964d3d78f146cb76

[2019-04-05 04:18] VeNoMouS commented on #11
From what I can see.. its the order of the headers...

If i do

[code]

it seems to work every time.

[2019-04-05 04:28] VeNoMouS commented on #11
@pro-src test out dev branch if you got a few minutes... see if you can get it to break?

[code]

Those are all solving fine..

[2019-04-05 04:29] pro-src commented on #11
Cloudflare is screwing with us. I don't know why they started making all of these changes in the past month but they started doing it around the same time that I started working on these projects. Coincidence maybe... But then again I was talking to their employees. It makes me wonder.

[2019-04-05 04:30] VeNoMouS commented on #11
LOL why on earth would you talk to their employees?!? lol

[2019-04-05 04:31] pro-src commented on #11
He was contributing and I was bored...

[2019-04-05 04:33] VeNoMouS commented on #11
[code]

[code]

[2019-04-05 04:33] pro-src commented on #11
@VeNoMouS All tests are passing.

For example, this guy: https://github.com/codemanki/cloudscraper/issues/100

[2019-04-05 04:37] VeNoMouS commented on #11
hrrrrrm at the convo...

[2019-04-05 04:37] VeNoMouS commented on #11
BTW pushed that new code into master...

[2019-04-05 04:41] VeNoMouS commented on #11
@pro-src question in regards to https://github.com/codemanki/cloudscraper/issues/176 ... does javascript key'd arrays (dicts in python) (hashes in perl) are they indexed in order of population? cause that might explain why codemanki's was working ok and mine has been intermittent  , if cf was parsing the order the headers and 403's on the weird ordering...

[2019-04-05 04:43] pro-src commented on #11
Yes btw, convo updated :rofl:

[2019-04-05 04:45] VeNoMouS commented on #11
Where is the updated convo? cause i dont see anything new?

[2019-04-05 04:51] pro-src commented on #11
Just edits... I can't say anything nice right now so I'm not going to say anything at all. lol

[2019-04-05 04:52] VeNoMouS commented on #11
ok once again... @valos && @HawkLiking can you please test the latest code and see if that resolves all your issues? cheers... HUGS... <3

[2019-04-05 06:27] HawkLiking commented on #11
get and post are working well on py2.7

And it seems like in py3 too, i’ve made less tests but no error

Great job! So it was the order of the headers... tricky

[2019-04-05 06:28] VeNoMouS commented on #11
@HawkLiking plus the bug with doing a post before a get... CF doesn't like the url-form payload in there... etc... had to superseed a call before the POST

[2019-04-05 06:34] VeNoMouS commented on #11
Thank you for testing however, appreciate that... if you could please report any bugs you come across so we can lock them down :)

Cheers

[2019-04-05 06:38] HawkLiking commented on #11
It’s not a real world thing to make a post in a browser without making any get before, so it seems legit for cloudflare to block this behavior^^

No problem, i’m using your cfscrape fork every in a bot, so if i see errors in my logs i will report them here ;)

[2019-04-05 07:24] Fran008 commented on #10
It's working now in Raspbian/Raspberry!!!

But just for your information: it only works with https in this web (https://thebot.net), it fails with http.

[2019-04-05 07:43] HawkLiking commented on #10
On linux it’s working in both case

For information, after resolving the cf challenge, thebot.net redirects (301 permanently) the http request to https. It works on debian/ubuntu but maybe not well in raspbian... ? Seems weird

Can you give the stack trace (error) please @Fran008 ?

[2019-04-05 07:48] Fran008 commented on #10
I confirm it, too (for this web, thebot.net):

http in PC Linux: OK
https in PC Linux: OK
https in Raspberry: OK
http in Raspberry: KO

This is the trace:

_cloudFlare() requested URL - http://thebot.net/, encounted CloudFlare DDOS Protection.. Bypassing.
ERROR:root:'http://thebot.net' returned an error. Could not collect tokens.
Traceback (most recent call last):
  File "./fran", line 51, in <mod

[2019-04-05 08:31] HawkLiking commented on #10
Looks like you’re having the captcha challenge in http on raspbian (not only js challenge)...
Have you made all your tests on the same public ip address ?

[2019-04-05 08:35] VeNoMouS commented on #10
[code]

[code]

[2019-04-05 08:40] Fran008 commented on #10
Mmm... that explains one thing.

The fact is that THE FIRST TIME I tested http in Raspberry, it worked! From now on, it only worked on https.

But from the same IP and with Linux, it enters always with http. First time, second time, n time.

[2019-04-05 08:42] VeNoMouS commented on #10
[code]

ETC...

[code]

[2019-04-05 08:42] VeNoMouS commented on #10
Works fine both ways... are you gents using py2 or py3?

[2019-04-05 08:44] Fran008 commented on #10
Python2, and Raspberry Pi 3.

In Linux both ok. In Raspberry, same IP, ok with https but ko since second time I entered.

[2019-04-05 08:47] HawkLiking commented on #10
@Fran008 try it with the Test class @VeNoMouS just post, and give all the output, maybe it comes from specific header or cookies...

[2019-04-05 08:47] VeNoMouS commented on #10
@Fran008 can you edit your cfscrape code... add

[code]

and in the `request` function after the line `resp = super(CloudflareScraper, self).request(method, url, *args, **kwargs)`

Add..

[code]

then run your code again, and email me all the output please.

[2019-04-05 08:50] VeNoMouS commented on #10
@Fran008 also are you sure you are running the latest version of the library?

[2019-04-05 09:40] Fran008 commented on #10
Which library?

I guess your program install it automatically, but in any case I have also tried:

git clone https://github.com/PiotrDabkowski/Js2Py
cd Js2Py
sudo python setup.py install

I have installed requests_toolbelt.utils too, but no new error messages come out.

[2019-04-05 09:43] VeNoMouS commented on #10
??? im referring to cfscrape ... from .. https://github.com/VeNoMouS/cloudflare-scrape-js2py/

[2019-04-05 10:05] Fran008 commented on #10
Yeah, me too of course.

[2019-04-05 10:09] Fran008 commented on #10
I have installed --again-- last version from https://github.com/VeNoMouS/cloudflare-scrape-js2py/ and everything remains the same.

[2019-04-05 10:10] VeNoMouS commented on #10
@Fran008 how did you "install"?

[2019-04-05 10:15] Fran008 commented on #10
git clone https://github.com/VeNoMouS/cloudflare-scrape-js2py
cd cloudflare-scrape-js2py
sudo python setup.py install

[2019-04-05 10:16] VeNoMouS commented on #10
I would manually delete the installed version just incase you have Anorov's original library.

[2019-04-05 10:24] Fran008 commented on #10
sudo git clone https://github.com/Anorov/cloudflare-scrape
cd cloudflare-scrape
sudo python setup.py install --record files.txt
cat files.txt | xargs sudo rm -rf
cd ..
git clone https://github.com/VeNoMouS/cloudflare-scrape-js2py
cd cloudflare-scrape-js2py
sudo python setup.py install

Once done the uninstallation and installation... same error.

[2019-04-05 10:26] VeNoMouS commented on #10
@Fran008 replace the __init__.py with https://pastebin.com/FwC7vdqK

[2019-04-05 10:33] Fran008 commented on #10
It works like a charm!!

You're awesome, thank you for your great program and please keep it updated ;)

[2019-04-05 10:34] VeNoMouS commented on #10
@Fran008 lol .. thats just with some debug in it... that's all that changed from the normal install!?!?

[2019-04-05 10:37] VeNoMouS commented on #10
I might just bump the version to `2.0.0`

[2019-04-05 10:39] Fran008 commented on #10
Sorry!!

You're right. What I saw is not the final page... they are your new messages.

[2019-04-05 10:39] Fran008 commented on #10
The error remains the same :(

[2019-04-05 10:40] VeNoMouS commented on #10
Can you please email the debug output to my email on my profile... cheers.

[2019-04-05 10:47] Fran008 commented on #10
Done! I have to drive, so I'll be out for a while.

[2019-04-05 10:47] VeNoMouS commented on #10
Got it cheers @Fran008 let me read over this.

[2019-04-05 10:48] HawkLiking commented on #10
Yeah you should bump to 2.0.0 and bump version more often

If you stay on 1.9.5, making a "git pull" and "python setup.py install" will not update cfscrape, i have to make a "pip uninstall cfscrape" each time (not really a problem if you know)

[2019-04-05 10:49] VeNoMouS commented on #10
@Fran008 for some reason your UA is out of order on the Challenge solve post..

[code]

the UA should not be the last..

[2019-04-05 10:56] VeNoMouS commented on #10
Even your intial GET is out of order

[code]

something is wrong with your OrderedDict, what version is your python?? like the actual version???

[2019-04-05 11:04] VeNoMouS commented on #10
Simple test run

[code]

what is the output?

it __should__ be

[code]

[2019-04-05 11:06] VeNoMouS commented on #10
Either...

a) OrderedDict isn't honoring the order...
b) requests library is out isn't honoring the order...

I would check the version on collections && requests library's.

[2019-04-05 12:19] Fran008 commented on #10
Python version is 2.7.9

Requests library seems up to date.

I have to do the test. Later in home.

[2019-04-05 12:29] Fran008 commented on #10
"sudo pip install ordereddict" made no changes.

[2019-04-05 20:43] VeNoMouS commented on #10
`ordereddict` is part of `collections` module... @Fran008 what if you use python3?

[2019-04-05 20:56] VeNoMouS commented on #10
@Fran008 can you please run

[code]

[2019-04-05 21:09] Fran008 commented on #10
Version is 2.4.3

[2019-04-05 21:11] VeNoMouS commented on #10
Theres your issue... https://stackoverflow.com/questions/17239952/python-http-request-with-controlled-ordering-of-http-headers

OrderDict for headers was fixed in `2.9.2` upgrade you're requests library

[2019-04-05 21:13] VeNoMouS commented on #10
I've also pushed fix for install to meet minimum of 2.9.2 or higher.

[2019-04-05 21:27] Fran008 commented on #10
WOW! It finally works, with the dev branch!!

Thank you so much. Keep up the good work.

[2019-04-05 21:27] #10 closed

[2019-04-05 21:29] VeNoMouS commented on #10
Np mate, glad you got there in the end :)

[2019-04-05 21:30] VeNoMouS commented on #10
@pro-src tagging you in so you are aware with requests version and header order issue.

[2019-04-05 22:16] VeNoMouS commented on #11
@valos can you please confirm you're good now?

[2019-04-06 16:08] valos commented on #11
@VeNoMouS Yes it works! Many many thanks <3

[2019-04-06 20:08] VeNoMouS commented on #11
@valos that's awesome news mate :) thanks for the update <3..

I'm going to close this off if you don't mind.

[2019-04-06 20:49] #11 closed

[2019-04-08 14:17] Mirio opened #20 "CF Update StdError randomly"
# How to replicate
Docker image: Alpine:3.8
Command:
[code]
STDerr:
[code]
This error occurs randomly after N requests.
Could you check and solve?
Thanks

[2019-04-08 20:46] VeNoMouS commented on #20
Let me have a look @Mirio strange that you use wget over git... I have also pushed a v2.0.1 for you as i released a security fix the other day but forgot to do a new reelase zip.

[2019-04-08 20:48] VeNoMouS commented on #20
@Mirio when you say it occurs randomly after N requests... are you using the same issue, or initializing cfscrape each time?

[2019-04-08 20:59] VeNoMouS commented on #20
[code]
[code]
Requests 20 times with 20 initialization ... no errors... perhaps I write in a debug flag and you can email me the output so we can determine what is actually happening in your header requests...

[2019-04-08 23:08] Mirio commented on #20
I'm using an AWS EC2 instances, the CF have a more restricted protection from that IP's
Anyway below the debug using that scripts:
[code]

Output
[code]

[2019-04-08 23:28] VeNoMouS commented on #20
Can you just double check your requests version for me?
[code]

[2019-04-08 23:30] Mirio commented on #20
[code]

[2019-04-09 01:42] VeNoMouS commented on #20
@Mirio sorry been doing my day job.... i've added in some debugging onto the dev bracnh

[code]

Can you run the above and email me the output?

Cheers

[2019-04-09 07:46] Mirio commented on #20
Sent

[2019-04-09 07:48] VeNoMouS commented on #20
wow... CF didnt even offer you a challenge... it just straight up captcha'd you...

[2019-04-09 07:50] VeNoMouS commented on #20
@pro-src have forwarded you the log.. interesting.. never seen that before.. wonder if CF have got EC2's ip address shit listed.

[2019-04-09 07:53] Mirio commented on #20
Yeah i think CF hate me :D
Please note: I use the "main" (old) cfscrape to scrap other site (behind CF) and it work perfectly, i don't know only this site give me that shit.

[2019-04-09 08:02] VeNoMouS commented on #20
yea its got nothing to do with the library, the initial request is made, and you get a challenge request... well normally , but you don't you get hit with a 403 and captcha straight away..

I'm afraid this falls outside the realm of the library.

[2019-04-09 08:03] pro-src commented on #20
My guess is that the site owner is using custom Cloudflare firewall configuration. The Captcha page is custom. Interestingly, it lacks the usual bot-filter. @Mirio, I see that the UA is mobile device related, having you tried copying headers from your desktop browser? This could be an issue with the Accept header not matching what Cloudflare expects for that particular UA.

[2019-04-09 08:03] VeNoMouS commented on #20
@pro-src that UA is just a random from the library... it changes on each class initialization

[2019-04-09 08:04] VeNoMouS commented on #20
[code]

[2019-04-09 08:04] pro-src commented on #20
@VeNoMouS that could very well be the problem for this particular domain.

[2019-04-09 08:05] VeNoMouS commented on #20
I can't replicate it... i tried 50 initializations with 100% success... it has to be EC2

[2019-04-09 08:07] Mirio commented on #20
@VeNoMouS if you need to debug that, i can help you

[2019-04-09 08:07] VeNoMouS commented on #20
Refer comment https://github.com/VeNoMouS/cloudflare-scrape-js2py/issues/20#issuecomment-481068749

[2019-04-09 08:07] VeNoMouS commented on #20
Refer comment https://github.com/VeNoMouS/cloudflare-scrape-js2py/issues/20#issuecomment-481005840

[2019-04-09 08:08] pro-src commented on #20
Check the revisions of this gist to see what the Captcha page would normally look like: https://gist.github.com/cloudscraper-bot/68547666b4ae87c57011d7609cc467af/revisions

You'll notice the lack of `bf_*` values.

It could be a combination of things so I wouldn't rule out headers as being part of the problem. The site protection level could just be increased when a request comes from that IP rang

[2019-04-09 08:13] VeNoMouS commented on #20
@Mirio do you get the same payload if you query `https://etherscan.io/`?

[2019-04-09 08:17] Mirio commented on #20
@VeNoMouS yep same results

[2019-04-09 08:18] VeNoMouS commented on #20
Can you post

[code]

[2019-04-09 08:18] pro-src commented on #20
You can view the what a normal captcha looks like by visiting my dummy site: https://gist.github.com/cloudscraper-bot/68547666b4ae87c57011d7609cc467af/revisions

[2019-04-09 08:20] pro-src commented on #20
Sorry, I posted the wrong URL but since I know what the firewall settings are for https://pro-src.com . I'll turn off the captcha so you can try with it.

[2019-04-09 08:21] Mirio commented on #20
[code]

[2019-04-09 08:21] pro-src commented on #20
IUAM enabled, @Mirio go ahead

[2019-04-09 08:26] VeNoMouS commented on #20
@Mirio have you tried doing a socks proxy via ssh to your box, then setting your browser to use said proxy? do you still get a captcha?

http://securitymusings.com/article/462/how-to-set-up-a-socks-proxy-using-putty-ssh

[2019-04-09 08:52] Mirio commented on #20
Yep, i've setup the socks proxy on the box and i get the captcha
I need to solve it to resolve this issue?

[2019-04-09 08:53] VeNoMouS commented on #20
Nah just confirmed my theory that EC2 is basicly shit listed with CF

[2019-04-09 08:54] pro-src commented on #20
It's hardly confirmed if you've only tried one domain :P

[2019-04-09 08:55] pro-src commented on #20
You've got to consider what the site owners can do...

[2019-04-09 08:56] VeNoMouS commented on #20
BURN THE WITCH ;P yea the site owner could have changed some setting etc etc...

[2019-04-09 08:57] pro-src commented on #20
Cloudflare has extensive API, the owner could be blocking that entire IP range and all the other CF protected domains could be without this problem.

[2019-04-09 09:00] pro-src commented on #20
Plus I already confirmed that the domain is using a custom CAPTCHA page...

[2019-04-09 09:00] VeNoMouS commented on #20
could always try https://anti-captcha.com/ to get around it... though.. with it only being locked down to ec2... https://github.com/AndreiDrang/python3-anticaptcha ... I have used it in the past... and it does work... though...  at 50 cents per 1000 solves... I think I would keep an open session going so it never required a captcha again... just saying..

[2019-04-09 09:04] pro-src commented on #20
@VeNoMouS Thats very true for these recaptcha(v2) but if the bot-filter was present, and it normally is, those services won't work. Lucky it's not present in those CAPTCHA's based on the logs.

[2019-04-09 09:08] VeNoMouS commented on #20
@pro-src lets check... i have his site-key from his original request i wonder if its still valid..

[2019-04-09 09:16] VeNoMouS commented on #20
![image](https://user-images.githubusercontent.com/597545/55788477-7d36f680-5b0c-11e9-9b8c-eb8b09f2cd15.png)

yea looks like it still did it... took AWHILE... but it extracted it..

then you would just have to send it the params [s, g-recaptcha-response] in a __GET__ request back to `/cdn-cgi/l/chk_captcha`

[2019-04-09 09:20] VeNoMouS commented on #20
We could incorporate it into the library i guess... but atm we dont even account for `chk_captcha`..

that said , the user could trap the __GET__ from cfrape for the ValueError captcha  and do it themselves...

all they have to do is extract s_value and the sitekey in order to do the post.....

[2019-04-09 09:22] pro-src commented on #20
I think it's a great idea but it wouldn't help the majority of users unless you also bypass the BF.

[2019-04-09 09:23] VeNoMouS commented on #20
I've never seen a BF captcha...

[2019-04-09 09:24] VeNoMouS commented on #20
We could always account for BF values in a captcha return and simply say it isn't supported at this time?

[2019-04-09 09:26] pro-src commented on #20
It's the default. Have a look, I just turned it back on: https://pro-src.com

[2019-04-09 09:33] pro-src commented on #20
Yeh, +1 from me

[2019-04-09 10:41] VeNoMouS commented on #20
@Mirio just fyi... we actually ran into a discovery while doing a PoC...

seems there's a "bug" in python2 when you use requests and session... the header gets initalized as a normal dict so you don't get an order even if you pass it as an OrderedDict() as it merges... really stupid.. someone else hit that wall.. https://github.com/kennethreitz/requests/issues/2057 i supplied a fix for them...

An

[2019-04-09 11:12] veldjmaxis commented on #20
Some time ago I wrote own library for anti-captcha and today I modified CFScrape to pass anti-captcha successfully. So it is possible to pass without problems.

[2019-04-09 11:32] HawkLiking commented on #20
Well yes, it is possible to use APIs like anti-captcha.com but these services are not free (at least to resolve Google Recaptcha)

May be an optional feature tho..

[2019-04-09 11:36] veldjmaxis commented on #20
@VeNoMouS maybe we can pass anti-captcha key as optional arg? and then process captcha if key present?
[code]

[2019-04-09 20:15] pro-src commented on #20
@Revadike This is probably of interest to you.

[2019-04-10 08:34] BarryThrill commented on #20
Im not sure if this fits in here but I usually get an error but its random aswell, works in a while then pops out the errors that are in the picture but then works again. Randomly [https://i.imgur.com/JjNlghB.png](url)

[2019-04-10 08:35] BarryThrill commented on #20
Im not sure if this fits in here but I usually get an error but its random aswell, works in a while then pops out the errors that are in the picture but then works again. Randomly

![cloudflare](https://user-images.githubusercontent.com/15836342/55864199-4ac4e200-5b7c-11e9-93eb-7a91a47d0982.png)

[2019-04-10 08:45] BarryThrill commented on #20
![saved](https://user-images.githubusercontent.com/15836342/55864975-d12df380-5b7d-11e9-8fab-1aeb31991279.png)

[2019-04-10 09:36] sennz opened #21 "CF new error"
ERROR:root:Error executing Cloudflare IUAM Javascript. Cloudflare may have changed their technique, or there may be a bug in the script.

Traceback (most recent call last):
    html = scraper.get(iurl, cookies=cj, headers=self.hdr).content
  File "c:\Python27\lib\site-packages\requests\sessions.py", line 546, in get
    return self.request('GET', url, **kwargs)
  File "h:\python\cfscrape.py", line

[2019-04-10 09:38] BarryThrill commented on #21
I realized I have the same issue: Here is the picture of the following issues to make it easier to see
![cloudflare](https://user-images.githubusercontent.com/15836342/55868649-2b7e8280-5b85-11e9-97a8-5a9f066771eb.png)
![hehe2](https://user-images.githubusercontent.com/15836342/55868651-2cafaf80-5b85-11e9-9fe6-03385a45f306.png)
![saved](https://user-images.githubusercontent.com/15836342/55868653-2

[2019-04-10 10:19] FrancHR commented on #21
SyntaxError: Line 10: Illegal return statement

[code]

[2019-04-10 10:22] VeNoMouS commented on #21
@BarryThrill open up a fresh ticket please, its nothing to do with the current...

[2019-04-10 10:23] VeNoMouS commented on #21
@sennz what version of the cfscrape are you using?
[code]

[2019-04-10 10:25] BarryThrill opened #22 "CF error - RunetimError and ReferenceError"
Hello!

So basically I was requests to post a new thread here since it is a new error.

I will start by showing the pictures:
![1](https://user-images.githubusercontent.com/15836342/55871740-9b900700-5b8b-11e9-87e7-9270d0f511a5.png)
![2](https://user-images.githubusercontent.com/15836342/55871742-9c289d80-5b8b-11e9-9fab-e32229f3367e.png)
![3](https://user-images.githubusercontent.com/15836342/5587

[2019-04-10 10:26] VeNoMouS commented on #21
@sennz can you please grab dev branch 2.0.2

[code]

and email me the debug output please..

cheers.

[2019-04-10 10:27] sennz commented on #21
2.0.1

[2019-04-10 10:27] VeNoMouS commented on #22
Can you please paste the exact code your using?

[2019-04-10 10:30] BarryThrill commented on #22
Sure! Here it is:

[code]

[2019-04-10 10:42] VeNoMouS commented on #22
ok... so first mistake..

headers should really be initialized first as a OrderedDict before you pass it...   This is because of the way __requests__ does it's __merge__ with __headers__ , i know you're py3 i know it has a really bad side effect in py2... the problem is, the header order __MATTER'S__  now with cloudflare..

can you do me a favor and , and install the dev branch 2.0.2

basiclly....

[2019-04-10 10:47] BarryThrill commented on #22
Im not sure if I sent to correct email, it was to venom@gen-x.co.nz - Just sent it there!

[2019-04-10 10:49] VeNoMouS commented on #22
@BarryThrill thanks for the email....

CF has changed their shit again..

[2019-04-10 10:49] sennz commented on #21
Emailed output.

Cheers

[2019-04-10 10:51] BarryThrill commented on #22
Oh crap, That doesn't sound good. Hopefully it is not anything serious changes :(

Also you did inspire me abit more, What would you suggest to do to actually "speed up" my code if I might ask? 😄

[2019-04-10 10:52] VeNoMouS commented on #22
I'll help you out (prob tomorrow) after I fixed this...

[2019-04-10 10:53] FrancHR commented on #21
I forget to say, version 2.0.1, python 2.7
I have tried from DEV branch, version 2.0.2. But i can't use, for now because of requests_toolbelt.

Edit:
installed requests_toolbelt from pip and i have this simple return, nothing more:
`/usr/lib/python2.7/logging/__init__.py:882 emit ERROR:root:Error executing Cloudflare IUAM Javascript. Cloudflare may have changed their technique, or there may be a b

[2019-04-10 10:53] BarryThrill commented on #22
Appreciate it! If I can help you out in anyway, Just comment and I will try my best to help you out for testing etc etc.

[2019-04-10 10:54] VeNoMouS commented on #22
@BarryThrill can you run that debug code once or twice more and email me in different emails, just need to see if there's a variance

[2019-04-10 10:55] VeNoMouS commented on #21
@sennz I don't see any email from you as of yet...

[2019-04-10 10:55] VeNoMouS commented on #21
#22 could be related, stay tuned

[2019-04-10 10:56] Krylanc3lo commented on #21
Hello,
I have the same error message, let me know if you want the output, if it can help

[2019-04-10 10:57] VeNoMouS commented on #21
@Krylanc3lo yea if you don't mind, cheers just email it to me

[2019-04-10 11:00] sennz commented on #21
I emailed to venom at gen-x.co.nz

[2019-04-10 11:01] VeNoMouS commented on #21
@krylanc3lo i meant ...

using dev branch 2.0.2

and using..

[code]

[2019-04-10 11:02] VeNoMouS commented on #21
hrrmmm never got one from you.

[2019-04-10 11:06] VeNoMouS commented on #21
@sennz just got it

[2019-04-10 11:51] VeNoMouS commented on #21
Ok can you ya'll test out dev branch 2.0.3 .... @FrancHR i've accounted for you lack of library you should be ok moving forward...

[2019-04-10 11:51] VeNoMouS commented on #22
@BarryThrill can you test out dev branch 2.0.3

[2019-04-10 11:53] BarryThrill commented on #22
Alright! I will do it in around 30-45 minutes from now. Currently in the gym. Need to take out the hate somewhere.

[2019-04-10 12:09] FrancHR commented on #21
I have sent e-mail to you with output of 2.0.3

[2019-04-10 12:13] VeNoMouS commented on #21
@FrancHR your js2py is out of date... upgrade it please.

[2019-04-10 12:17] BarryThrill commented on #22
Alright, so I tried it and I do get errors etc of:^

[code]

Do you want me to send debug version on email?

[2019-04-10 12:17] VeNoMouS commented on #22
yes please.

[2019-04-10 12:19] BarryThrill commented on #22
Just sent two from different emails.

[2019-04-10 12:20] VeNoMouS commented on #22
if you call

[code]

Does it work?

[2019-04-10 12:21] BarryThrill commented on #22
It seems to be the same thing as I get without .content (Same information as I sent you through email)

[2019-04-10 12:22] VeNoMouS commented on #22
Is there any error? you didnt send me all the output..

[2019-04-10 12:23] VeNoMouS commented on #22
also please confirm your using 2.0.3

[code]

[2019-04-10 12:27] BarryThrill commented on #22
Alright, so I can confirm that it is running through 2.0.3 and I will resend now the whole thing. I have no idea that it didn't send the all information.

[2019-04-10 12:28] BarryThrill commented on #22
However it does seems that it actually works because I do get the content.

[2019-04-10 12:29] VeNoMouS commented on #22
:) , so errors?

[2019-04-10 12:31] VeNoMouS commented on #22
re latest email... i don't see any issue there..

[2019-04-10 12:32] BarryThrill commented on #22
Or wops, It does seems that there is errors. Printing it out here
[code]

[2019-04-10 12:32] BarryThrill commented on #22
[code]

[2019-04-10 12:33] FrancHR commented on #21
I did it, to 0.60, but now i have a lot wrong import problems in js2py. grr....
Ok, I need to study this first and see what is wrong.

[2019-04-10 12:34] BarryThrill commented on #22
Also I have replaced the name scraper to cf_scraper, Hopefully that wouldn't case any issue?

`cf_scraper = cfscrape.create_scraper()`

[2019-04-10 12:36] VeNoMouS commented on #22
I need the debug output when those errors occur ....

[2019-04-10 12:40] BarryThrill commented on #22
Working on it now! It seems to happen randomly.

[2019-04-10 12:40] VeNoMouS commented on #22
in your __test.py__ change

[code]

to

[code]

[2019-04-10 12:42] VeNoMouS commented on #21
Did you upgrade via pip? `pip install --upgrade js2py`...

[2019-04-10 12:43] BarryThrill commented on #22
Okey sending now, I think I found the error now.

[2019-04-10 12:45] BarryThrill commented on #22
I forgot to add HTML, Just re-sent HTML aswell.

[2019-04-10 12:45] FrancHR commented on #21
Yes, i'm.

Update;
i returned to my old js2py version, and then i removed security feature for initial test, and everything is ok now. The CF challange is passed.
Version 2.0.3

[2019-04-10 12:51] VeNoMouS commented on #22
Can you send me your test.py because I replayed that HTML and it decodes fine...

[2019-04-10 12:52] VeNoMouS commented on #21
thanks @FrancHR

[2019-04-10 12:52] BarryThrill commented on #22
Alright, Sending in 3 minutes.

[2019-04-10 12:52] VeNoMouS commented on #21
Upgrade your shit ;P

[2019-04-10 13:09] VeNoMouS commented on #22
@BarryThrill I've tried replicating it... but it works every single time...

[2019-04-10 13:09] BarryThrill commented on #22
I can only think about one thing at this moment. I tried to use threading where I apply etc 10 different links at the same time. It seems to happen if you run all the sites at the same time. But I doubt that it shouldn't matter since each thread is running for its own?

[2019-04-10 13:09] BarryThrill commented on #22
Let me send you another testing, maybe it will come. Hold up few minutes!

[2019-04-10 13:13] BarryThrill commented on #22
Alright, I think I made a perfect test script now for testing! Sending it over now.

[2019-04-10 13:14] VeNoMouS commented on #22
Personally... if your going to the same site...

why cf_solve on each one.. just setup a session and solve that .. then pass the session or the cookie to your threads for the request...

seems so silly to do it any other way.

[2019-04-10 13:17] BarryThrill commented on #22
I have not thought about it, I thought using proxies might could giving trouble/error using session. I just sent and I believe you might be able to run it

[2019-04-10 13:18] VeNoMouS commented on #22
You need to learn threading better, you have no queue control let alone child control, too many urls in your list, and you would fork bomb yourself due to threads.

[2019-04-10 13:20] BarryThrill commented on #22
Yeah probably, I mean it always worked for me pretty well but you might have been right. I never had anyone that was willing to check my code and letting me know these stuff at all. I could explain it better but I am not sure if it is fine to explain it here of what my achievement for the script I am trying to do 😃

[2019-04-10 13:25] VeNoMouS commented on #22
before you main, I would call one of the sites that triggers and do... maybe

[code]

then I would pass cookies to the child threads , and on the get send the cookies... that way it wouldnt have to code solve on each request...

just one of many ways.

[2019-04-10 13:28] VeNoMouS commented on #22
anyway its 0130... im outtie for the night.

[2019-04-10 13:29] BarryThrill commented on #22
Appreciate all the help for today! Do you recommend to run the 2.0.3 or did you push update for master?

I will probably need to re-code the whole thing now but I guess that's what coding is all about. I might need more tip such as headers etc etc. but I could talk to you about it another day whenever you have time!

[2019-04-10 13:30] VeNoMouS commented on #22
I pushed it for master... If i find some time tomorrow i'll send you through how I do threading with queue control and child fork limitation...

[2019-04-10 13:31] BarryThrill commented on #22
Thats awesome! I will send you an email but you could read it tomorrow! I apprecaite for everything honestly!

[2019-04-10 13:32] VeNoMouS commented on #22
np mate :)

anyway, good night :)

[2019-04-10 13:33] VeNoMouS commented on #22
I'm going to close this for now, if you have an issue we can re-open it.

[2019-04-10 13:33] #22 closed

[2019-04-10 13:35] VeNoMouS commented on #21
Anyway before I close off, its 2.0.3 is in master now anyway

[2019-04-10 14:49] Alfa-beto commented on #12
close this please, sorry

[2019-04-10 21:42] #12 closed

[2019-04-10 21:49] VeNoMouS commented on #21
@sennz can I close this ticket off?

[2019-04-11 02:09] Krylanc3lo commented on #21
Thanks a lot! As usual it works  perfectly :)

[2019-04-11 06:46] #21 closed

[2019-04-11 07:58] BarryThrill opened #23 "CF - Potential memory leak?"
Hello once again!

I have realized that since the update of 2.0.3 that everytime I am running the package of "import cfscrape" it automatic takes extra atleast 100mb from RAM to run the code.

You do know in a way how my program works but however I tested a site that doesn't uses cloudflare and also site that uses cloudflare and both gave me same result.

Basically I tried to see what the issue wa

[2019-04-11 08:40] sennz commented on #21
Sorry for the late reply. It is working. Thanks @VeNoMouS

[2019-04-11 11:35] Krylanc3lo opened #24 "ValueError: Captcha"
Hello!

A new day & a new CF error :)

I will investigate when I will be backi to home tonight but if anyone already saw this issue:

[code]

[2019-04-11 11:41] HawkLiking commented on #24
This error means that cloudflare display a « captcha challenge », and cfscrape does not solve captcha challenges, only js challenges.

You should active Debug mode and paste the entire output here to see what is going on

[2019-04-11 12:55] VeNoMouS commented on #24
https://github.com/VeNoMouS/cloudflare-scrape-js2py/issues/20#issuecomment-481199292

[2019-04-11 12:55] leentheone commented on #24
Same problem. Earlier cfscrape just ignore this page, so I can solve the captcha and continue parse.

[2019-04-11 12:57] VeNoMouS commented on #24
@leentheone so put it into a trap... and solve it on the exception whats the problem?

[2019-04-11 13:00] leentheone commented on #24
no problem, just module became less user-friendly

[2019-04-11 13:06] VeNoMouS commented on #23
My guess would be js2py but I need to investigate further to prove it.

[2019-04-11 13:18] BarryThrill commented on #23
Let me know if you need any help! :)

[2019-04-11 21:05] pro-src commented on #24
@leentheone You do realize that cloudflare-scrape never raised an error for CAPTCHA so if you were using the older version then please realize the following.

* It would not be working at all (The old source was crap)
* You wouldn't know what the problem was to start with (The old source was crap)
* Thanks to the new version, you actually know that there is in fact a CAPTCHA
* There has many many

[2019-04-11 22:22] Mirio commented on #20
Another way is setup the cookie from external source? For example solve the Captcha from socks5/https box and import the cookie into the script

[2019-04-12 23:09] Krylanc3lo commented on #24
Do you still have the issue ? I still experience it:

[code]

[2019-04-12 23:12] pro-src commented on #24
@Krylanc3lo are you using headers from your web browsers??? If not... that would be the first thing to try.

[2019-04-12 23:21] Krylanc3lo commented on #24
I do not think I am. I am just using the script shared few days ago by @VeNoMouS .

[code]

[2019-04-12 23:28] pro-src commented on #24
I think @VeNoMouS plans on adding custom exception for the use-case that @leentheone mentioned. Even though he called it less user friendly just because it lacks a feature that he wants. It wasn't a feature in the old source... It was just by chance due to neglect... Anyways, you're not using headers from your web browser. Cloudflare has changed their Anti-Scrape shield a lot lately and we sympath

[2019-04-12 23:31] pro-src commented on #24
@Krylanc3lo Also, I think the code in that snippet is a tad bit outdated in that it's doing things that aren't exactly necessary anymore. It looks like it should still work though...

[2019-04-12 23:33] Krylanc3lo commented on #24
Thanks for the details, it is very helpful.
I will try to add the headers then. Can I do it in the code I did past above?

if there is an easier way to use the snippet, let me know and I will update my code.

Thanks  again

[2019-04-12 23:38] pro-src commented on #24
@Krylanc3lo you're welcome :)

You should only need the following:
[code]
Just keep a reference to `cf`(the scraper which is a session) and you don't even need `getPage`. You can just call `cf.get(urlPage, timeout=15)` directly when you need to fetch a page.

I haven't tested though. As far as passing headers: `cf.get(urlPage, headers=headers, timeout=15)` but use an `OrderedDict` because the head

[2019-04-12 23:49] Krylanc3lo commented on #24
great thx @pro-src ! I will try it right now and let you know.
I just need to retrieve my browser headers

[2019-04-13 13:45] Krylanc3lo commented on #24
Which headers should I take, the user agents or all of them ?

[2019-04-13 13:50] pro-src commented on #24
@Krylanc3lo

Any and all of the following:
* Connection
* User-Agent
* Upgrade-Insecure-Requests
* Accept
* Accept-Language
* Accept-Encoding
* DNT

If your `Accept-Encoding` header contains `br`, remove it.
For example: `"Accept-Encoding": "gzip, deflate, br"` would be changed to `"Accept-Encoding": "gzip, deflate"`

Pay close attention to the header order as well. Keep the original order that yo

[2019-04-13 13:50] Krylanc3lo commented on #24
Nevermind, with the new code it is working very well, I will not bother you more :)

Thanks a lot @VeNoMouS & @pro-src !

[2019-04-13 13:50] #24 closed

[2019-04-13 13:55] pro-src commented on #24
@Krylanc3lo were you using an older version or do you mean your new code?

[2019-04-13 14:54] Krylanc3lo commented on #24
Thank you. I will update my code with the headers & I used the below code you gave me :

[code]

It is working better than my first version

How should I store the headers & delimit them ? in a json format ?

[2019-04-14 06:07] VeNoMouS commented on #20
@Mirio yea its just a cookie... if you set the cookie CF wont even present you with a captcha or challenge

[2019-04-14 12:26] HawkLiking opened #25 "ValueError: Captcha (ip reputation ?)"
I know it can be related to https://github.com/VeNoMouS/cloudflare-scrape-js2py/issues/24 but i have already try to update all packages and others solutions.

I think it's an IP reputation problem, I make request every 2 minutes, maybe it's the problem (it works on my personal computer, different installation but...). But I want to be sure it comes from that

Here is my test code:
[code]

Here is

[2019-04-14 12:50] HawkLiking commented on #25
It doesn't work with a total other IP (different country) , and same test script, same config (debian) , and i never made cloudflare request with that one...

[2019-04-14 13:03] HawkLiking commented on #25
OOOOOK, i'm sorry for this issue

It works on python3 but not on python2.7, maybe related to this issue comment https://github.com/VeNoMouS/cloudflare-scrape-js2py/issues/20#issuecomment-481199292

Sorry you can close this issue, have a good day :) 👍

[2019-04-14 13:40] HawkLiking commented on #25
I re-open it because it can be interesting fact:

cfscrape was working from the beginning in py2.7 with my script, and stoped working on Friday 12th April, 20h34 (UTC+1)

Maybe this is due to a cloudflare change... ?

Anyway, it is working in py3

[2019-04-14 21:37] VeNoMouS commented on #25
Sorry @HawkLiking what works in py3 and what doesnt work in py2?

[2019-04-14 21:39] VeNoMouS commented on #25
ah just found your 2.7 debug out , thanks for that :) will go over it later... just got flew back yesterday afternoon

[2019-04-14 21:42] VeNoMouS commented on #25
I had a quick glance... very interesting.. you got hit with a challenge, you solved it cf hit you back with a captcha ... never seen that...

I am wanting to add in some new features to help combat this...

I do have a question... with your code are you in a loop? or do you run your code every N minutes?

if you're running in a loop you should really setup a __requests__ sesssion() and pass that o

[2019-04-14 21:43] VeNoMouS commented on #25
Ah... wait your using @pro-src as your source? hahaha he's forced the captcha on... bad test ;P

[2019-04-14 21:44] HawkLiking commented on #25
I run my code every N minutes (crontab), but yes, i should save the cookie and the UA in a file and use it each time

I used pro-src for the test, but i was having this error on all cloudflare protected websites

[2019-04-14 21:45] pro-src commented on #25
The CAPTCHA hasn't been on for a while.

[2019-04-14 21:57] VeNoMouS commented on #25
@HawkLiking I'll have a look later today ok mate? its monday morning for me atm, have to do my day job

[2019-04-14 22:01] HawkLiking commented on #25
No problem take your time, I bump my code to py3 for the moment. But as this error seems new (first time you see that), I am curious to know what has changed :)

[2019-04-14 22:09] VeNoMouS commented on #24
FWIW:

You don't need to keep the exact header order once you have solved the challenge...

[2019-04-14 22:14] VeNoMouS commented on #23
@BarryThrill

a simple script of

[code]

and running that with valgrind shows us

[code]

so that is where 158mb of your memory is being used ... you need to raise this @PiotrDabkowski on his js2py repo https://github.com/PiotrDabkowski/Js2Py ....

imho i'm not sure why it would require such a large memory footprint on an import...

[2019-04-14 22:17] #23 closed

[2019-04-14 22:36] pro-src commented on #24
@Krylanc3lo VeNoMous has an example of using an OrderedDict to set the headers in the comment that he linked in his first post: https://github.com/VeNoMouS/cloudflare-scrape-js2py/issues/20#issuecomment-481199292

Only problem is that those headers will be ignored in some cases:
https://github.com/VeNoMouS/cloudflare-scrape-js2py/blob/83ebd10e678ef4a41cfda76389fd1befcc6d42c6/cfscrape/__init__.py#L

[2019-04-18 14:50] noembryo opened #26 "Multi-threading problem"
OK I know I'm asking for too much, but I had to :o)

I'm using your great script in an [app of mine (Subber)](http://www.noembryo.com/apps.php?subber), because recently Subscene.com started to use CloudFlare.
And although it works most of the time while checking for a video, trying for more than one using different threads returns a ton of errors and of course no subtitles.

Is this a problem with

[2019-04-18 20:14] pannal commented on #26
Just a guess: CF might not allow multiple solves at a time for the same page? (You wouldn't do that to a subtitle provider anyways, would you?)

[2019-04-18 20:17] noembryo commented on #26
I create a scraper for every video (not every subtitle) but now that you mention it, I could use one scraper for every session!!
I'll try that and report back..

[2019-04-18 20:34] noembryo commented on #26
No luck :o(
Its the same result.

When the search starts,
I create a scraper (with `cfscrape.create_scraper()`)
and use it to first get the results page for every video `result = self.scraper.get(url).content` ,
and then use it to get extra info for every subtitle of the resulting pages.
All these are in different threads.

If I check for one video, it works OK.
If more than one, most of the time

[2019-04-18 20:39] pannal commented on #26
Yeah, don't create multiple sessions from one IP to the same site I guess.
If you're managing sessions, you might want to pass your original session object as `sess` to `create_scraper` to avoid creating new sessions.

[2019-04-18 20:40] noembryo commented on #26
But I use the same scraper object for all the calls..

[2019-04-18 20:42] pannal commented on #26
Use the same session for all the calls.

[2019-04-18 20:42] noembryo commented on #26
How can I do that?

[2019-04-18 20:43] pannal commented on #26
By creating a session beforehands, then passing it to the create_scraper calls. Or subclass CloudflareScraper in the first place.

[2019-04-18 20:51] noembryo commented on #26
Just tried sess (`sess = cfscrape.create_scraper()`) with the same results..

[2019-04-18 20:51] pannal commented on #26
Are you doing subsequent calls without using self.scraper perhaps? Can I see your code?

[2019-04-18 20:53] noembryo commented on #26
No other calls are made.
The code spans some scripts.
I'll try to post some parts here..

[2019-04-18 20:59] noembryo commented on #26
Hmm.. Posting only the relevant parts is not going to make any sense.
And I can't post it all, because is not open source.. :o(

But I'm almost certain that all the calls are made with the same object.
When I search for one video it works.
It also uses many threads (for the subtitles)

But if I search for more videos (for the initial results page), nothing returns (usually, not always)..

[2019-04-18 21:03] pannal commented on #26
Nothing returns? Do you pause for a couple of seconds between requests?

[2019-04-18 21:11] noembryo commented on #26
The calls are in different threads.
I can't pause between them.
They ask in parallel.

I was using the `request` lib before, and I now replace it with the scraper.

I'll try to block them until the first one get something...

[2019-04-18 22:09] noembryo commented on #26
Success..
After the first call, I block all the other threads until I have the first response.
After that, I let them call as they like and the results are the expected (most of the time)

The only problem is that even the js is solved, it takes a lot longer than the requests calls I used before the CloudFlare problem.

Anyway, beggars can't be choosers ;o)
Thank you @pannal for your help..

[2019-04-18 22:38] VeNoMouS commented on #26
Glad you got it working guys... personally its

[code]

if you were using sessions..., what happens is, __cfscrape__ takes the session pointer, does the __Challenge Response__, gets the __cfuid__ cookie and populates the __session cookie__ and returns ... then you can use normal requests ... or you can keep using __cf.get()__ which is just a __super()__ to requests but some actionis in the middle

[2019-04-18 22:48] noembryo commented on #26
Is the `cf.get('http://TheWebSite')` and `session.get('http://TheWebSite')` return the same thing?

Is my cration of `self.scraper = cfscrape.create_scraper()` and using this object to get `result = self.scraper.get(url).content` for all the calls, any different?

Also, do I have to reset something somewhere between sessions, because some times I don't get a result at all?

Its great that you work

[2019-04-18 22:52] VeNoMouS commented on #26
It will return the same thing the `cf.get()` will solve the challenge if the challenge request is detected... the session.get() will not solve anything as its a direct call to requests....

if you issue the cf.get() first, the session you passed is then populated with the cfuid cookie so you can use session.get() the problem with loading each thread with the existing cfscrape is your going to be i

[2019-04-18 22:55] VeNoMouS commented on #26
@noembryo you will like the new project then no re-factoring imho ;P

[2019-04-18 22:57] noembryo commented on #26
I don't do that.
I create one scraper in the search session and then pass this scraper to every thread.
Inside the every thread, there is a check to see if someone ask the site.
The first one does asks and blocks the other.
When the first one get its results, all the others start asking with the same object.

[2019-04-18 23:00] noembryo commented on #26
Its a pity that until the time you'll have a working release, I'll have to have the refactory done :-p

[2019-04-18 23:00] pro-src commented on #26
I think it's best to recommend that people continue to use `scraper.get` over `session.get` for the following reasons:

* scraper is a session already
* CF can send additional challenges after the cookie has been set before the cookie expires
* session isn't going to know whether the response contains a challenge
* I've noticed a pattern of getting an additional challenge after the first few reque

[2019-04-18 23:01] VeNoMouS commented on #26
@noembryo it works atm... its up to you,.. we only have a dev branch atm..

[2019-04-18 23:05] noembryo commented on #26
I don't mind to wait..
I'll refactor the code for the fun of it ;o)
I can always return to a previous state when you release it, no worries..
Thank you anyway :o)

[2019-04-18 23:06] VeNoMouS commented on #26
All good mate :)

[2019-04-18 23:44] pannal commented on #26
@VeNoMouS do you have a link to the new project? :)

[2019-04-19 04:46] pannal commented on #25
I'm experiencing the same right now. [Sub-Zero](https://github.com/pannal/Sub-Zero.bundle), which is restricted to Python 2.7 from the Plex environment.

I can run tests with my local 2.7, though, just not with the older 2.7 inside the Plex environment. That one instantly yields the Captcha error.

[2019-04-19 04:48] pro-src commented on #25
@pannal The Plex plugin framework is complete and utter trash. I feel sorry for you. :rofl:

[2019-04-19 04:50] pannal commented on #25
Yes, it is. I was able to make cfscrape work, though. Somehow it doesn't work anymore, though.

Investigating.

[2019-04-19 05:28] pannal commented on #25
@pro-src I'm hard-pressed here to make what's causing the issue.

Working:
[code]

Not working:
[code]

There's a couple of debug stuff in there, but what am I missing essentially?

The first one is called from python2.7, the second one is called from the plex environment.

[2019-04-19 05:31] pro-src commented on #25
I'm looking into it.

[2019-04-19 05:38] pro-src commented on #25
@pannal How are you verifying that it works under py2.7 ? Are you executing the library from this link from the interpreter? I would verify that I'm testing the same version of the library. Do a diff or something to rule that out. Wrong header order: https://github.com/pannal/Sub-Zero.bundle/blob/master/Contents/Libraries/Shared/cfscrape/__init__.py#L84

[2019-04-19 05:47] pro-src commented on #25
@pannal Also, it's worth noting that the challenges are being solved so that's not the problem. I keep saying cases like this and almost always turns out to be the headers. When you go to reason about this, just know that it's the request info that causing the CAPTCHA, headers, cookies, params, etc. etc. Find out what is different there.

[2019-04-19 06:08] VeNoMouS commented on #25
If you're headers do not match the correct ordering or the request, you can wind up with 403's 502's and also captcha that is why the ordering has to be specific .

[2019-04-19 15:15] noembryo commented on #26
Xmm, I think there is a problem today..

Using `result = self.scraper.get(url).content` returns nothing.
Even for one file. Not even an error.

Is there something wrong with the CloudFlare or with my provider?

[2019-04-19 15:16] pro-src commented on #26
Provider.

[2019-04-19 17:09] noembryo commented on #26
After some testing, found out about the problem.
With *every* request it asks for Captcha.
Some with changed IP and Header..

No luck anymore.. :o(

[2019-04-19 20:16] Krylanc3lo opened #27 "Page not completely scrapped"
Hello,

I am encountering a very weird issue. I am trying to scrap https://www.japscan.to and from time to time (~ 20/30%), the html code the script returns does not contain some lines like:

[code]
 
I am under impression that they are loaded a little bit after and the script is maybe not waiting enough.

Anyone already had this issue ?

Thank you!

[2019-04-19 20:31] Krylanc3lo opened #28 "Same script, different results from a computer to another"
Hello,

I think I have an issue related to headers but not sure how to fix it, in case you have an idea.

When I run the same basic script (the one in the README file), it is working on a first computer, but not in the second one.

Debut in the 1st (working):
[code]

Debug in the 2nd (not working):
[code]

[2019-04-19 21:02] pannal commented on #25
Hey, sorry for the late answer, had to sleep.

I'm currently looking at the differences between the requests - can you spot any?
https://pastebin.com/SdwU0CkU

I can't find a single thing that's different between those two.

[2019-04-19 21:03] VeNoMouS commented on #27
@Krylanc3lo what do you mean not wiating enough?!? lol html && http/1.1 does not work that way.

[2019-04-19 21:43] pannal commented on #25
OK, this is getting weird. Tried another series, and it seems like the challenge went through, but despite being successful, the redirect target then denies it again: https://pastebin.com/r9GcV1KT

[2019-04-19 22:21] Krylanc3lo commented on #27
I know it is why I find it very weird. When I scrap the page, those lines do not appear each time while they are on the page when I am using the browser. I do not understand how it is possible.

[2019-04-19 23:23] pro-src commented on #27
@Krylanc3lo General tech support is not provided here. This is ***not*** stackoverflow and this project generally does not care about what you see in your web browser. It seems as if though, your either confused about how a web browser works or web scraping in general. Webpages can use different web technologies to manipulate the [DOM](https://developer.mozilla.org/en-US/docs/Web/API/Document_Obje

[2019-04-19 23:33] Krylanc3lo commented on #27
Sorry @pro-src, I am sorry I thought it was related to the scrapper and how it was retrieving the information.
I will close the thread

[2019-04-19 23:33] #27 closed

[2019-04-19 23:35] pro-src commented on #28
@Krylanc3lo looks like (Debug) is working to me. :rofl:  You're asking for general tech support and that's frowned upon here since you can't expect us to ***teach*** everybody on the internet. That's not what we do here. I've already told you that it's best to set those headers yourself and provided you with information on how to do so. You should review past issues.

[2019-04-19 23:37] pro-src commented on #27
@Krylanc3lo Relax, you didn't know :smile:

[2019-04-20 00:04] pro-src commented on #25
Nothing stood out to me but you're trying to work around the real problem which is that Plex's developers don't give a damn about their plugin framework so why would you expect it to work properly? I can't help you with this any further.

Btw nice work on the Sub-Zero channel, it must have been a real pain lol

[2019-04-20 01:27] pannal commented on #25
Oh, yes. Had to break out of the sandbox a couple of times to make everything work properly.

I'll try to call a subscript using the system python for CF.

[2019-04-20 01:37] pannal commented on #25
@pro-src which UA/header combination would you recommend right now?

[2019-04-20 01:37] pro-src commented on #25
@pannal Thought to mention that the new project will have a unit test suite which if you can run it under Plex's environment, maybe you'll be able to better narrow it down.

[2019-04-20 01:40] pro-src commented on #25
One of these if you have support for Brotli: https://github.com/pro-src/cloudscraper.js/blob/4.0.0/lib/browsers.json

Otherwise any combination that you copy from a web browser that handles the challenges properly and does not have `br` in the accept-encoding header.

[2019-04-20 01:43] pro-src commented on #25
@pannal Just incase you haven't completely given up...lol, Double check your requests version. Make sure it matches this project's requirements and maybe attempt to run their test suite in Plex's environemnt 0.o

[2019-04-20 02:01] pannal commented on #25
@pro-src already did ... I'm shipping the current requests version and it gets used by both (local py27 and PMS env).

[2019-04-20 02:06] pro-src commented on #25
You ran the unit tests?

[2019-04-20 02:16] pannal commented on #25
Ah no, misread that. I'll try running their unittests, fingers crossed that that's possible inside the PMS env.

[2019-04-20 03:38] pannal commented on #25
Yes, please!

[2019-04-20 03:50] pro-src commented on #25
@pannal
<details>
<summary>Headers (click to expand)</summary><p>

[code]

</p></details>

[2019-04-20 03:57] pro-src commented on #25
Notice that the UA's are old, that's because browsers have been supporting Brotli for a while :+1:

[2019-04-20 05:02] VeNoMouS commented on #28
@Krylanc3lo ? why did you close mate?

[2019-04-20 05:33] pannal commented on #25
Thank you!

I seem to have played around too much, though, and I'm now constantly triggering the captcha, even from command line. Time to implement anticaptcha for CF as a fallback :D

[2019-04-20 10:32] noembryo commented on #26
Just to check.. can you guys see if you can get anything from SubScene?
[code]

[2019-04-20 13:43] Krylanc3lo commented on #28
Didn't want to bother you more than I already do ;)

[2019-04-20 15:50] pannal commented on #25
OK, this definitely is a thing. They're hitting me with a captcha now every single time. Implemented fallback captcha solving, though, and proper headers as well as full header preservation.

If anyone's interested: https://github.com/pannal/Sub-Zero.bundle/commit/9147ed90b702f6a6576c8d377357c7d91e07ab77

[2019-04-20 20:09] Krylanc3lo commented on #27
Hello,
I checked and this issue is similar to: https://stackoverflow.com/questions/29773528/python-requests-isnt-giving-me-the-same-html-as-my-browser-is

I will try to update the scrapper and check if urllib is helping.

[2019-04-20 22:22] VeNoMouS commented on #28
Hardly bothering me, if there is a problem with the library would prefer to resolve

[2019-04-21 01:40] Krylanc3lo commented on #28
hehe, I am reopening it then. I added the below headers but still not working:

[code]
An example of URL: https://www.gktorrent.net/torrents/series

[2019-04-21 10:15] VeNoMouS commented on #28
@Krylanc3lo the first one isn'ting working as the last request gets hit with a http 503 code...

how ever I can confirm there is something wrong happening with that site... I am investigating to try and resolve it...

[2019-04-22 02:44] VeNoMouS commented on #28
@Krylanc3lo well... that was fun (NOT), are you using py2 or py3 ....

can you check if you have have the package `asn1crypto` installed in pip

[code]

or

[code]

[2019-04-22 04:15] VeNoMouS commented on #28
Actually further investigation we have found the root cause @Krylanc3lo

[2019-04-22 09:04] VeNoMouS commented on #28
@Krylanc3lo can you check this please...

[code]

Let me know the version.

[2019-04-22 23:00] Krylanc3lo commented on #28
Sure, here you are:

On the 1st computer:
[code]

On the 2nd computer:
[code]

I guess I have to update ;)

[2019-04-23 00:15] VeNoMouS commented on #28
@Krylanc3lo

[code]

Let me know how you go.

[2019-04-23 00:25] Krylanc3lo commented on #28
Still the same:

[code]

[2019-04-23 00:37] VeNoMouS commented on #28
@Krylanc3lo send me an email i'll invite you to my discord and you can be our test bitch ;P

[2019-04-25 23:03] lukele commented on #28
@VeNoMouS Did you make progress on this one? I'm seeing some interesting behavior, where if Charles Proxy (macOS SSL Proxy/Intercept) is enabled, it works. If however Charles Proxy is disabled, I get the ValueErrror: Captcha. And it reproduces 100%. Charles Proxy on, it works, Charles Proxy off, captcha. No other changes what so ever.

[2019-04-26 09:53] VeNoMouS commented on #28
Yea I do have a theory behind whats going

[2019-04-26 11:03] lukele commented on #28
@VeNoMouS ah interesting. To add a little more insight of what I have found. If I perform the initial request with plain urllib (python3) code, no captcha ever comes up, even if I use the requests library to send the challenge response. If however I use the requests library for the initial request and submit the challenge response with plain urllib code, I receive the captcha. Headers and header o

[2019-04-26 11:04] Krylanc3lo opened #29 "CF updated ?"
Hello,

I do not know if it is related to #28 or if it is another issue, but some websites do not work anymore, while it was working even since #28 appeared.

Did you notice a change in CF? if they updated their process ?

here is the log:

[code]

If it is related, I will close this thread

[2019-04-26 12:37] VeNoMouS commented on #29
There is no js change from what I can see.. it could be related to the other ticket..

[2019-04-26 12:39] VeNoMouS commented on #28
I will try find some time this weekend to try and work it out.

[2019-04-26 14:08] VeNoMouS commented on #28
LOL... I worked it out... I think..

[2019-04-26 14:17] VeNoMouS commented on #28
Maybe... I didn't as i tested my code without and im getting 200's back... man I hate when it does this ;P makes testing a pain in the arse... i'll test it again later.

[2019-04-26 14:26] VeNoMouS commented on #28
I really shouldn't do this crap at 0230 in the morning... lol... managed to make it go.. i was being retarded i tested something and forgot i did that, so i had to put it back in... anyway yea i got it going.

[2019-04-26 14:32] VeNoMouS commented on #28
I'll test and play around with this more over the weekend just to make sure, but it looks like its working to me..

[2019-04-26 14:35] lukele commented on #28
@VeNoMouS i‘ll send you my test code later as well. Excited in seeing what you have coming up with

[2019-04-26 14:38] VeNoMouS commented on #28
yea sweet as, anyway imma catch some tv before bed, its almost 3am here, NZST > * :p

[2019-04-26 23:39] Krylanc3lo commented on #29
OK, I will close this thread then

[2019-04-26 23:39] #29 closed

[2019-04-27 01:35] pro-src commented on #13
Tests are at https://github.com/VeNoMouS/cloudscraper

[2019-04-27 01:35] #13 closed

[2019-04-27 01:36] pro-src commented on #2
I'm going to close this but feel free to open it back up if I've missed something

[2019-04-27 01:36] #2 closed

[2019-04-27 01:36] #1 closed

[2019-04-27 01:44] pro-src commented on #28
If the proxy is to blame, you should be able to configure your browser to use the proxy and reproduce the problem in the browser. But then again... It could just be a blacklisted IP, I would not consider the ip-tracker.org service definitive but https://www.ip-tracker.org/blacklist-check.php

[2019-04-27 03:59] Krylanc3lo commented on #28
I digged a little bit and I only have the issue with https, not http. Maybe related to certificate then

[2019-04-28 00:51] lukele commented on #28
@VeNoMouS from my tests it appears that if the requests ciphers are updated not to include the 'ECDH+AESGCM' cipher from the default ciphers in urllib3's ssl_  cloudflare works with basically any user agent passed from @pro-src list in cloudscraper

[2019-04-28 00:54] pro-src commented on #28
@lukele Have you tried leaving that cipher suite in the list and changing the order instead?

[2019-04-28 01:00] pro-src commented on #28
@lukele It would make sense for browsers to report that as a supported cipher suite as well since they're using openssl which supports it but they probably send it in a different order.

https://www.chromium.org/Home/chromium-security/education/tls#TOC-Cipher-Suites

[2019-04-28 01:10] pro-src commented on #28
If you're interested to know the default cipher suite list that chromium uses, you should be able to find that in this repo: https://github.com/google/boringssl
Since chromium uses a fork of openssl called openssl and supports extra ciphers i.e. https://github.com/chromium/chromium/tree/master/third_party/boringssl/linux-x86_64/crypto

[2019-04-28 01:16] lukele commented on #28
Thanks for the links!

Interestingly, changing the order doesn't help. Still not sure how the ciphers matter exactly, but they seem to be the last piece of the puzzle. With the default ciphers from urllib3 and ECDH+AESGCM removed it seems to consistently work.

working list: TLS13-AES-256-GCM-SHA384:TLS13-CHACHA20-POLY1305-SHA256:TLS13-AES-128-GCM-SHA256:ECDH+CHACHA20:DH+AESGCM:DH+CHACHA20:ECDH+AE

[2019-04-28 01:22] pro-src commented on #28
@lukele I've got a lot more of those links, join the discord channel :stuck_out_tongue_closed_eyes:
Your list seems to be the best option we have atm since don't won't to unnecessarily remove support for other cipher suites. I think we should be able to match the UA's cipher suite list and order exactly. I'm pretty sure that the cipher suite order changes for mobile UA's which prioritize CHACHA20.

[2019-04-28 01:49] pro-src commented on #28
Right so instead of digging through source on a per UA basis: https://www.ssllabs.com/ssltest/viewMyClient.html
User-Agent: `User Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.108 Safari/537.36`
<details><summary>Results (Click to expand)</summary>

Cipher Suites (in order of preference)
---
TLS_GREASE_0A (0xa0a) | -
TLS_AES_128_GCM_SHA256 (0x1301)

[2019-04-28 01:50] VeNoMouS commented on #28
@lukele `EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH` is better... just saying..

[2019-04-28 01:53] pro-src commented on #28
@VeNoMouS :thinking: Isn't the smaller list removing support for a lot other cipher suites?

[2019-04-28 01:53] VeNoMouS commented on #28
look @ what chrome establishes...

[2019-04-28 01:54] VeNoMouS commented on #28
Lets dig out chrome source and review their lists.

[2019-04-28 01:56] pro-src commented on #28
@VeNoMouS just use Cloudscraper to fetch https://www.ssllabs.com/ssltest/viewMyClient.html and compare the results with the ones that I just provided.

[2019-04-28 02:09] pro-src commented on #28
I see what you're saying about what chrome establishes (meaning when chrome establishes a connection to CF) but Cloudscraper isn't meant to only ever connect to CF's servers and a smaller list means less support. Also, CF could begin to check for lack of support on a per UA basis sorta like what they're already doing for headers but for SSL ciphers, right? I'm not sure how long this has been a pro

[2019-04-28 02:26] pro-src commented on #28
Hmm... This is a comparison between chromium and nodejs (cloudscraper.js): https://gist.github.com/pro-src/99e0318814118dc9e60d989375b3d3d9/revisions

[2019-04-28 03:24] VeNoMouS commented on #28
![image](https://user-images.githubusercontent.com/597545/56858143-9c1d0000-69c9-11e9-8d22-1a60412b706a.png)

[2019-04-28 04:33] VeNoMouS commented on #28
Looking at ssl labs.. of chrome..

![image](https://user-images.githubusercontent.com/597545/56858713-fb334280-69d2-11e9-981a-9e1d3aa264b0.png)

Making the exact cipher suite order ...

[code]

[2019-04-28 04:38] pro-src commented on #28
The default cipher list varies by CPU capabilities which is why we're getting different results. So basically, `cpu` * `openssl version` * `browser version` equals a whole lot of different default cipher lists, assuming that the browser adjusts what would be the default cipher list (reorder or otherwise). So there isn't one specific list to match... IDK what a better list would be without data min

[2019-04-28 04:39] VeNoMouS commented on #28
Can you screen shot a ssl labs cipher list from your end for me @pro-src ?

[2019-04-28 05:17] pro-src commented on #28
<details><summary>Without mounting an HTTPS adapter</summary>

![localhost_8000_output html](https://user-images.githubusercontent.com/34285059/56858973-6df7db80-6949-11e9-8f7c-59bf935097dc.png)
![localhost_8000_output html (1)](https://user-images.githubusercontent.com/34285059/56858972-6a645480-6949-11e9-9b78-677efe948b31.png)
![localhost_8000_output html (2)](https://user-images.githubuserconte

[2019-04-28 05:31] VeNoMouS commented on #28
@pro-src i'll post some code in a bit for you to try just busy atm

[2019-04-28 05:40] pro-src commented on #28
@codemanki You might want to follow this issue as I'm betting that CF will eventually update this in a way that affects your project if it's not already...

[2019-04-28 06:59] VeNoMouS commented on #28
@pro-src i have pushed some new code for you to test.

[2019-04-28 10:39] VeNoMouS commented on #28
@Krylanc3lo check your email for our new dev branch details

[2019-04-28 15:50] Krylanc3lo commented on #28
I think I did not receive it. I sent you a mail

[2019-04-28 20:04] VeNoMouS commented on #28
@Krylanc3lo def sent it to you , replied to your email, and also replied to the same email for discord invite. that time...

[2019-04-28 21:03] VeNoMouS commented on #28
@Krylanc3lo just replied to your gmail test.

[2019-04-29 09:27] VeNoMouS commented on #28
Project has been superseded by my other project ["cloudscraper"](https://pypi.org/project/cloudscraper/) the new git repo can be found [here](https://github.com/VeNoMouS/cloudscraper).

[2019-04-29 09:28] #28 closed

[2019-04-29 09:28] VeNoMouS commented on #26
Project has been superseded by my other project ["cloudscraper"](https://pypi.org/project/cloudscraper/) the new git repo can be found [here](https://github.com/VeNoMouS/cloudscraper).

[2019-04-29 09:28] #26 closed

[2019-04-29 09:28] VeNoMouS commented on #16
Project has been superseded by my other project ["cloudscraper"](https://pypi.org/project/cloudscraper/) the new git repo can be found [here](https://github.com/VeNoMouS/cloudscraper).

[2019-04-29 09:28] #16 closed

[2019-04-29 09:28] VeNoMouS commented on #20
Project has been superseded by my other project ["cloudscraper"](https://pypi.org/project/cloudscraper/) the new git repo can be found [here](https://github.com/VeNoMouS/cloudscraper).

[2019-04-29 09:28] #20 closed

[2019-04-29 09:29] VeNoMouS commented on #25
Project has been superseded by my other project ["cloudscraper"](https://pypi.org/project/cloudscraper/) the new git repo can be found [here](https://github.com/VeNoMouS/cloudscraper).

[2019-04-29 09:29] #25 closed

[2019-04-29 09:38] Mirio commented on #20
Hi,
On the new project do you have implemented the captcha solver (using external resources)?
Thanks,